Repository iausathub/satchecker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag, Dev DB Migrate

Dev API Test:
  image: python:3.11
  services:
  - name: redis:latest
    alias: redis
  - name: postgres:latest
    alias: postgres
    variables:
      POSTGRES_DB: test_satchecker
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    command:
    - postgres
    - -c
    - fsync=off
  variables:
    POSTGRES_DB: test_satchecker
  ...

Dev API Build:
  stage: build
  variables:
    REGISTRY_SUBPATH: api-dev
    CONTAINERFILE: Dockerfile
    CONTAINER_CONTEXT: src/api
    ENVIRONMENT: dev

Dev API Push Tag:
  stage: push
  variables:
    APP_NAME: itops-cps-satchecker-dev
  dependencies:
  - Dev API Build

Prod API Test:
  image: python:3.11
  services:
  - name: redis:latest
    alias: redis
  - name: postgres:latest
    alias: postgres
    variables:
      POSTGRES_DB: test_satchecker
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    command:
    - postgres
    - -c
    - fsync=off
  variables:
    POSTGRES_DB: test_satchecker
  ...

Prod API Build:
  stage: build
  variables:
    REGISTRY_SUBPATH: api-prod
    CONTAINERFILE: Dockerfile
    CONTAINER_CONTEXT: src/api
    ENVIRONMENT: prod

Prod API Push Tag:
  stage: push
  variables:
    APP_NAME: itops-cps-satchecker
  dependencies:
  - Prod API Build

Dev Data Build:
  stage: build
  variables:
    REGISTRY_SUBPATH: data-dev
    CONTAINERFILE: Dockerfile
    CONTAINER_CONTEXT: src/data
    ENVIRONMENT: dev

Dev Data Push Tag:
  stage: push
  variables:
    APP_NAME: itops-cps-satchecker-dev
  dependencies:
  - Dev Data Build

Prod Data Build:
  stage: build
  variables:
    REGISTRY_SUBPATH: data-prod
    CONTAINERFILE: Dockerfile
    CONTAINER_CONTEXT: src/data
    ENVIRONMENT: prod

Prod Data Push Tag:
  stage: push
  variables:
    APP_NAME: itops-cps-satchecker
  dependencies:
  - Prod Data Build

Dev DB Migrate:
  image: python:3.11
  stage: migrate
  before_script:
  - pip install -r src/api/requirements.txt
  - pip install alembic psycopg2-binary
  variables:
    PYTHONPATH: src
  script:
  - export PYTHONPATH=src
  - cd src/api
  - alembic -c migrations/alembic.ini upgrade head

Add additional tests for cache service
  changes.md
  tests/unit/test_cache_service.py
Due: none

Add tests for refresh_tle_cache
  tests/unit/test_cache_service.py
Due: none

Exclude gunicorn logging setup from test coverage
  src/api/__init__.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Skip testing for code not in use currently
  src/api/services/fov_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Fix benchmark workflow permissions
  .github/workflows/benchmark.yml
Due: none

Update GitHub pages update method in for performance benchmarking workflow
  .github/workflows/benchmark.yml
Due: none

Fix for code scanning alert no. 17: Workflow does not contain permissions
  .github/workflows/radon_complexity.yml
Due: none

Split satellite ORM model into SatelliteEntity and SatelliteDesignation (for keeping track of name/number history)
  src/api/adapters/database_orm.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Update benchmark results [skip ci]
  dev/bench/data.js
Due: none

Fix validation errors to use the main error handler and improve error message text for ra, dec, duration, and fov_radius
  src/api/entrypoints/v1/routes/ephemeris_routes.py
  src/api/entrypoints/v1/routes/fov_routes.py
  src/api/entrypoints/v1/routes/routes.py
  src/api/entrypoints/v1/routes/tools_routes.py
  src/api/middleware/error_handler.py
  src/api/services/validation_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add change note
  src/api/changes/156.changed.md
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add tests for parameters with updated error handling
  tests/unit/test_validation_service.py
Due: none

Disable ephemeris data collection temporarily until we can change to the new data source
  src/data/retrieve_tle_aws.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Disable ephemeris data collection temporarily
  src/data/retrieve_tle_aws.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Change ORM and domain models to reflect Satellite and SatelliteDesignation changes, and update all tests
  src/api/adapters/database_orm.py
  src/api/adapters/repositories/satellite_repository.py
  src/api/adapters/repositories/tle_repository.py
  src/api/domain/models/satellite.py
  src/api/domain/models/satellite_designation.py
  src/api/entrypoints/v1/routes/fov_routes.py
  src/api/services/cache_service.py
  src/api/services/ephemeris_service.py
  src/api/services/fov_service.py
  src/api/services/tools_service.py
  src/api/services/validation_service.py
  src/api/utils/propagation_strategies.py
  tests/benchmark/test_fov_benchmark.py
  tests/conftest.py
  tests/factories/satellite_factory.py
  tests/integration/test_ephemeris_routes.py
  tests/integration/test_fov_routes.py
  tests/integration/test_sat_repository.py
  tests/integration/test_tle_repository.py
  tests/integration/test_tools_routes.py
  tests/unit/test_cache_service.py
  tests/unit/test_fov_service.py
  tests/unit/test_satellite.py
  tests/unit/test_tools_service.py
  tests/unit/test_utils.py
  tests/unit/test_validation_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Change data source for Starlink ephemeris data from SpaceTrack's public files to the original files directly available from Starlink
  src/data/retrieve_tle_aws.py
  src/data/satellite_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Update URL to check for decayed satellites to only look at the last day
  src/data/satellite_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Fix filenames/path for Starlink ephemeris files
  src/data/satellite_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Fix code formatting
  src/data/satellite_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Address flaky tests by setting the launch date to ensure it doesn't get randomly generated before the TLE date in the test
  tests/integration/test_tools_routes.py
Due: none

Fixes for mypy errors; remove duplicate entries from OpenAPI docs
  src/api/adapters/repositories/satellite_repository.py
  src/api/adapters/repositories/tle_repository.py
  src/api/common/error_messages.py
  src/api/entrypoints/extensions.py
  src/api/services/cache_service.py
  src/api/services/ephemeris_service.py
  src/api/services/fov_service.py
  src/api/services/tools_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Update README.md
  README.md
Due: none

Update CONTRIBUTING.md
  dev/CONTRIBUTING.md
Due: none

Clean up/update db.sql file for local db setup
  dev/local_db/db.sql
  src/data/retrieve_tle.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Update ADR for table/object schema change
  dev/adr/001-partition-tle-table-2024-12-18.md
  dev/adr/002-satellite-designation-table
Due: none

Add unique constraint to Satellite table (object_id, launch_date)
  src/api/adapters/database_orm.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Change data source since the ephemeris files are coming from Starlink directly now
  src/data/satellite_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Add is_illuminated check for FOV queries (check only runs if parameter is true due to possible speed concerns)
  docs/source/fov.rst
  src/api/entrypoints/v1/routes/fov_routes.py
  src/api/services/fov_service.py
  src/api/utils/propagation_strategies.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Change parameter name to match satellites_above_horizon
  docs/source/fov.rst
  src/api/changes/163.feature.md
  src/api/entrypoints/v1/routes/fov_routes.py
  src/api/services/fov_service.py
  src/api/utils/propagation_strategies.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add vectorized version of is_illuminated for faster calculation in FOV queries
  src/api/utils/coordinate_systems.py
  src/api/utils/propagation_strategies.py
  tests/unit/test_utils.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add missing parameters to FOV tests
  tests/unit/test_fov_service.py
Due: none

Fix additional parameter issues in tests
  tests/unit/test_fov_service.py
  tests/unit/test_utils.py
Due: none

Path conditions:
  Dev API Test: any of: src/api/**/*
  Dev API Build: any of: src/api/**/*
  Dev API Push Tag: any of: src/api/**/*
  Prod API Test: any of: src/api/**/*
  Prod API Build: any of: src/api/**/*
  Prod API Push Tag: any of: src/api/**/*
  Dev Data Build: any of: src/data/**/*
  Dev Data Push Tag: any of: src/data/**/*
  Prod Data Build: any of: src/data/**/*
  Prod Data Push Tag: any of: src/data/**/*
  Dev DB Migrate: any of: src/api/migrations/**/*
