Repository iausathub/satchecker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Dev API Test:
  image: python:3.11
  before_script:
  - python -m pip install --upgrade pip
  - pip install pytest pytest-mock
  - pip install -r api/requirements.txt;
  script:
  - pytest
  artifacts:
    expose_as: Pytest coverage report
    paths:
    - htmlcov
  stage: test

Dev API Build:
  stage: build
  variables:
    REGISTRY_SUBPATH: api-dev
    CONTAINERFILE: Dockerfile
    CONTAINER_CONTEXT: api
    ENVIRONMENT: dev

Dev API Push Tag:
  stage: push
  variables:
    APP_NAME: itops-cps-satchecker-dev
  dependencies:
  - Dev API Build

Prod API Test:
  image: python:3.11
  before_script:
  - python -m pip install --upgrade pip
  - pip install pytest pytest-mock
  - pip install -r api/requirements.txt;
  script:
  - pytest
  artifacts:
    expose_as: Pytest coverage report
    paths:
    - htmlcov
  stage: test

Prod API Build:
  stage: build
  variables:
    REGISTRY_SUBPATH: api-prod
    CONTAINERFILE: Dockerfile
    CONTAINER_CONTEXT: api
    ENVIRONMENT: prod

Prod API Push Tag:
  stage: push
  variables:
    APP_NAME: itops-cps-satchecker
  dependencies:
  - Dev API Build

Dev Data Build:
  stage: build
  variables:
    REGISTRY_SUBPATH: data-dev
    CONTAINERFILE: Dockerfile
    CONTAINER_CONTEXT: data
    ENVIRONMENT: dev

Dev Data Push Tag:
  stage: push
  variables:
    APP_NAME: itops-cps-satchecker-dev
  dependencies:
  - Dev Data Build

Prod Data Build:
  stage: build
  variables:
    REGISTRY_SUBPATH: data-prod
    CONTAINERFILE: Dockerfile
    CONTAINER_CONTEXT: data
    ENVIRONMENT: prod

Prod Data Push Tag:
  stage: push
  variables:
    APP_NAME: itops-cps-satchecker
  dependencies:
  - Prod Data Build

update test file to trigger pipeline
  api/test
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

change all rules to single if statement
  .gitlab-ci.yml
  api/test
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

change rule event to external_pull_request
  .gitlab-ci.yml
  api/test
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

change rule event to external_pull_request and test data file
  .gitlab-ci.yml
  data/test
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

test executiom of api pipeline by writing test file
  data/test
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

test api
  api/test
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

test api
  .gitlab-ci.yml
  api/test
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

replace event for external_pull_request with native merge_request_event. Replace variable for CI_DEFAULT_BRANCH with main
  .gitlab-ci.yml
Due: none

api file change test
  api/test
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

pipeline revert to event for pull request
  .gitlab-ci.yml
  api/test
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

use workflow rules to target event for pull request
  .gitlab-ci.yml
  api/test
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

push
  api/test
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

remove file watch
  .gitlab-ci.yml
  api/test
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

remove all file watching
  .gitlab-ci.yml
Due: none

remove workflow
  .gitlab-ci.yml
Due: none

add file watchers for data
  .gitlab-ci.yml
Due: none

test triggering of data file
  data/test
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

file change for api
  .gitlab-ci.yml
  api/test
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

changes modified to include path keyword
  .gitlab-ci.yml
Due: none

trigger api by modifying file
  api/test
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Update Dockerfile
  api/Dockerfile
  api/start.sh
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Skip tests if it can't connect to Redis (for gitlab pipeline)
  tests/test_endpoints.py
Due: none

Add comment
  api/core/routes.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add extra info to error message
  api/core/database/satellite_access.py
  api/core/database/tle_access.py
  api/core/routes.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Update tle_access.py - fix exception message check
  api/core/database/tle_access.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

temporarily remove link to new DB columns
  api/core/database/models.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Change to use closest TLE to requested date from any source if "spacetrack" or "celestrak" is not specified
  api/core/database/tle_access.py
  api/core/propagation_strategies.py
  api/core/routes.py
  api/core/utils.py
  docs/source/api.rst
  tests/test_endpoints.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Re-enable new fields
  api/core/database/models.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Fix TLE retrieval to use satellite that matches both name and number when adding a TLE, not number and most recently added
  data/tle_utils.py
  docs/source/index.rst
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Keep track of which satellite is the current one associated with a given NORAD ID
  api/core/database/models.py
  api/core/database/satellite_access.py
  data/requirements.txt
  data/retrieve_archival_tle_data.py
  data/tle_utils.py
  setup/local_db/db.sql
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Add is_current_version to name/id check endpoints
  api/core/database/satellite_access.py
  api/core/routes.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Remove unneeded section to check satellite names/dates
  api/core/routes.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Update documentation for get_names_for_norad_id and get_norad_ids_for_name
  docs/source/tools.rst
Due: none

Add flask-migrate and initial migration; update models to match
  api/core/__init__.py
  api/core/database/models.py
  api/migrations/README
  api/migrations/alembic.ini
  api/migrations/env.py
  api/migrations/script.py.mako
  api/migrations/versions/5fcbcf44bd75_initial_migration.py
  api/utils/coordinate_systems.py
  setup/local_db/db.sql
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Exclude migrations from lint checks
  pyproject.toml
Due: none

Exclude tests from code coverage testing
  .github/workflows/code_coverage.yml
  pytest.ini
Due: none

Path conditions:
  Dev API Test: any of: api/**/*
  Dev API Build: any of: api/**/*
  Dev API Push Tag: any of: api/**/*
  Prod API Test: any of: api/**/*
  Prod API Build: any of: api/**/*
  Prod API Push Tag: any of: api/**/*
  Dev Data Build: any of: data/**/*
  Dev Data Push Tag: any of: data/**/*
  Prod Data Build: any of: data/**/*
  Prod Data Push Tag: any of: data/**/*
