Repository iausathub/satchecker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag, Dev DB Migrate

Path conditions:
  Dev API Test: any of: src/api/**/*
  Dev API Build: any of: src/api/**/*
  Dev API Push Tag: any of: src/api/**/*
  Prod API Test: any of: src/api/**/*
  Prod API Build: any of: src/api/**/*
  Prod API Push Tag: any of: src/api/**/*
  Dev Data Build: any of: src/data/**/*
  Dev Data Push Tag: any of: src/data/**/*
  Prod Data Build: any of: src/data/**/*
  Prod Data Push Tag: any of: src/data/**/*
  Dev DB Migrate: any of: src/api/migrations/**/*

Fix broken test
  tests/integration/test_fov_tasks.py
Due: none

Alternate option for multi-CPU parallelism within a request
  src/api/services/fov_service.py
  src/api/services/tasks/fov_tasks.py
  src/api/utils/propagation_strategies.py
  tests/integration/test_fov_tasks.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

add Benchmark (pytest) benchmark result for 5576713777860c537d969bf4f5608bd2977b7883
  dev/bench/data.js
Due: none

Test Celery concurrent workers change
  src/api/Dockerfile.celery
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

add Benchmark (pytest) benchmark result for 45e39e682e94726e25bcd38dd710da3c31175a90
  dev/bench/data.js
Due: none

Test options to streamline CPU usage within a propagation task
  src/api/Dockerfile.celery
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

add Benchmark (pytest) benchmark result for 27623b48aa1e5c035d7dde81433f33b0bc0163ed
  dev/bench/data.js
Due: none

Increase batch size to decrease task overhead
  src/api/Dockerfile.celery
  src/api/services/fov_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

add Benchmark (pytest) benchmark result for a800772cffce76d8899e40dd573ea0b279f58885
  dev/bench/data.js
Due: none

Add alternative FOV check for Aerospace TDM data (using data_source parameter) and initial tests
  src/api/adapters/repositories/tdm_repository.py
  src/api/domain/models/tdm_prediction.py
  src/api/domain/models/tdm_prediction_point.py
  src/api/entrypoints/v1/routes/fov_routes.py
  src/api/services/cache_service.py
  src/api/services/fov_service.py
  src/api/services/validation_service.py
  src/api/utils/coordinate_systems.py
  src/api/utils/output_utils.py
  tests/conftest.py
  tests/factories/tdm_prediction_factory.py
  tests/unit/test_fov_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

add Benchmark (pytest) benchmark result for 0860b447ed242d37725d952413269b4df629c73a
  dev/bench/data.js
Due: none

Rename tle_time to data_retrieval_time and propagation_time to calculation_time in performance metrics
  src/api/services/fov_service.py
  src/api/services/tasks/fov_tasks.py
  tests/benchmark/test_fov_benchmark.py
  tests/integration/test_fov_tasks.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Change parameter name back to tle_time in test
  tests/integration/test_fov_tasks.py
Due: none

Update Starlink test cases with valid satellite names for the date
  tests/load_tests.yml
Due: none

add Benchmark (pytest) benchmark result for 5727867125bc4a65a1fb35e379a91b42edd1e7f3
  dev/bench/data.js
Due: none

Handle satellites with no TLEs when finding the nearest epoch
  src/api/adapters/repositories/tle_repository.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Improve error recovery in Starlink ephemeris processing
  src/data/retrieve_tle_aws.py
  src/data/satellite_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

add Benchmark (pytest) benchmark result for 3967df31662728a1b440af6bbb994877d95d65bf
  dev/bench/data.js
Due: none

Change all logs to use JSON log formatter
  .gitignore
  src/api/Dockerfile
  src/api/Dockerfile.celery
  src/api/__init__.py
  src/api/celery_app.py
  src/api/middleware/error_handler.py
  src/api/services/fov_service.py
  src/api/utils/log_formatter.py
  src/data/logging_utils.py
  src/data/retrieve_tle_aws.py
  tests/unit/test_error_handler.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

add Benchmark (pytest) benchmark result for ba498a4b6829aa5831c6a055f0cb7bf7c4c4fa7f
  dev/bench/data.js
Due: none

Add additional tests and fix how TDM repository checks for data per satellite
  src/api/adapters/repositories/tdm_repository.py
  tests/integration/test_tdm_repository.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Remove "aerospace" from FOV route docstring
  src/api/entrypoints/v1/routes/fov_routes.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Fix broken tests and add tests
  src/api/adapters/repositories/tdm_repository.py
  src/api/services/fov_service.py
  tests/conftest.py
  tests/integration/test_tdm_repository.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Update requirements.txt
  src/api/requirements.txt
  src/data/requirements.txt
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Remove extra urllib3 entry
  src/api/requirements.txt
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Update limits in requirements.txt
  src/api/requirements.txt
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

add Benchmark (pytest) benchmark result for bf2bfe1ac49b6a134b30530833a0ada492c3989d
  dev/bench/data.js
Due: none

Fix for checking TDM prediction site name with case insensitive keyword
  src/api/adapters/repositories/tdm_repository.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

add Benchmark (pytest) benchmark result for 9ad15786a291b0b6e95b17537c71c1916ef4551c
  dev/bench/data.js
Due: none

Fix parameters used in get_satellite_passes_in_fov
  src/api/entrypoints/v1/routes/fov_routes.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add tle_only parameter, add additional tests, update tests for orbital_data_epoch vs tle_epoch,
  src/api/entrypoints/v1/routes/fov_routes.py
  src/api/services/fov_service.py
  src/api/services/tasks/fov_tasks.py
  src/api/services/validation_service.py
  src/api/utils/output_utils.py
  src/api/utils/propagation_strategies.py
  tests/conftest.py
  tests/fixtures/sample_starlink_ephemeris.txt
  tests/unit/test_fov_service.py
  tests/unit/test_krogh_propagation.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Check reasons for tests failing only in GitHub CI
  src/api/services/fov_service.py
  tests/factories/satellite_factory.py
  tests/integration/test_ephemeris_repository.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Move tdm prediction calculation outside async check, account for non-existent keys in FOV results array
  src/api/entrypoints/v1/routes/fov_routes.py
  src/api/utils/output_utils.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

add Benchmark (pytest) benchmark result for e5621d25a2e3a9119fefecdf765e225708be0013
  dev/bench/data.js
Due: none

Add additional tests
  tests/integration/test_fov_tasks.py
Due: none

Remove ephemeris id check from test
  tests/integration/test_ephemeris_repository.py
Due: none

Improve test coverage
  src/api/adapters/repositories/ephemeris_repository.py
  tests/factories/ephemeris_factory.py
  tests/integration/test_ephemeris_repository.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Generate TLEs from ephemeris data
  src/data/ephemeris_utils.py
  src/data/satellite_utils.py
  tests/integration/test_fov_tasks.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

TLE only by default for now (opt in to ephemeris)
  src/api/entrypoints/v1/routes/fov_routes.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag
