Repository iausathub/satchecker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag, Dev DB Migrate

Path conditions:
  Dev API Test: any of: src/api/**/*
  Dev API Build: any of: src/api/**/*
  Dev API Push Tag: any of: src/api/**/*
  Prod API Test: any of: src/api/**/*
  Prod API Build: any of: src/api/**/*
  Prod API Push Tag: any of: src/api/**/*
  Dev Data Build: any of: src/data/**/*
  Dev Data Push Tag: any of: src/data/**/*
  Prod Data Build: any of: src/data/**/*
  Prod Data Push Tag: any of: src/data/**/*
  Dev DB Migrate: any of: src/api/migrations/**/*

Formatting fixes
  .pre-commit-config.yaml
  src/api/adapters/repositories/tle_repository.py
  src/api/requirements.txt
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Upgrade packages, formatting change
  src/api/requirements.txt
  tests/conftest.py
  tests/integration/test_ephemeris_routes.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Save RA/Dec position predictions in CCSDS TDM format to database (#183)
  .pre-commit-config.yaml
  src/api/adapters/database_orm.py
  src/api/adapters/repositories/tle_repository.py
  src/api/migrations/versions/47a6b948f843_add_tdm_prediction_tables.py
  src/api/requirements.txt
  src/data/retrieve_tle_aws.py
  src/data/tdm_utils.py
  tests/conftest.py
  tests/integration/test_ephemeris_routes.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag, Dev DB Migrate

Fix errors on retrieval when ephemeris data already existed in the DB
  src/data/satellite_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Extend timeout for Celestrak data retrieval
  src/data/tle_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Add range to FOV/satellite-passes endpoint documentation
  docs/source/fov.rst
  docs/source/notebooks/async.ipynb
  src/api/entrypoints/v1/routes/fov_routes.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Update boto3/botocore versions for data container requirements.txt
  src/data/requirements.txt
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Update URLS for benchmark testing and add async=false parameter
  tests/benchmark/test_ephemeris_benchmark.py
  tests/benchmark/test_fov_benchmark.py
  tests/benchmark/test_tools_benchmark.py
Due: none

Fix API documentation string
  src/api/entrypoints/v1/routes/fov_routes.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

add Benchmark (pytest) benchmark result for f4d3d404e918a054f682c80049bf336be0484e7c
  dev/bench/data.js
Due: none

Remove duplicates from api endpoint docs
  src/api/entrypoints/extensions.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

add Benchmark (pytest) benchmark result for 8ded6ba6a3253133ccda2b3d46bd9440b5675b92
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for 9a50b5c589cceed0d473c434136ef8af0a7b7f31
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for 04f0e29e5517c0b6996ce137235e8f5919626cb1
  dev/bench/data.js
Due: none

Revert TLE retrieval change
  src/api/adapters/repositories/tle_repository.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

add Benchmark (pytest) benchmark result for de01b2b524d19933d7bd4c5ed94624374fe36685
  dev/bench/data.js
Due: none

Update release date for 1.6.0
  changes.md
Due: none

add Benchmark (pytest) benchmark result for 89e7ef4f52c15dae39d1901111d280e2ac733943
  dev/bench/data.js
Due: none

Update jd_to_gst to better account for UT1_UTC values
  src/api/utils/time_utils.py
  tests/unit/test_utils.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Update acknowledgement section for SatChecker usage
  docs/source/acknowledgements.rst
Due: none

Update acknowledgement (#185)
  docs/source/acknowledgements.rst
Due: none

add Benchmark (pytest) benchmark result for c9d02934b04a3bd40f6d755a1cd0f7e43381fc0b
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for 300d8477aa713587c03ec030f0d9eff2e4613640
  dev/bench/data.js
Due: none

Simplify logging, minimize redis memory checks, add the DE430t.bsp file used by Skyfield to the container image instead of downloading at runtime, move Astropy cache
  src/api/Dockerfile
  src/api/Dockerfile.celery
  src/api/adapters/repositories/tle_repository.py
  src/api/services/cache_service.py
  src/api/services/fov_service.py
  src/api/services/tasks/development_tasks.py
  src/api/services/tasks/fov_tasks.py
  src/api/utils/coordinate_systems.py
  src/api/utils/propagation_strategies.py
  src/api/utils/skyfield_loader.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Change skyfield data directory if /app isn't available; fix for mypy error
  src/api/services/fov_service.py
  src/api/utils/skyfield_loader.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Update tests with new logging level
  src/api/utils/skyfield_loader.py
  tests/unit/test_cache_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Change ThreadPoolExecutor to ProcessPoolExecutor
  src/api/utils/propagation_strategies.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

add Benchmark (pytest) benchmark result for 8432ffa5f40f6f6434195470b8d2165c24aa0ec5
  dev/bench/data.js
Due: none

Revert "Change ThreadPoolExecutor to ProcessPoolExecutor"
  src/api/utils/propagation_strategies.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

add Benchmark (pytest) benchmark result for 3ed8b89df902ab1bc64fb131b1f9db6363969067
  dev/bench/data.js
Due: none

Alternate option for multi-CPU parallelism within a request
  src/api/services/fov_service.py
  src/api/services/tasks/fov_tasks.py
  src/api/utils/propagation_strategies.py
  tests/integration/test_fov_tasks.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Fix type error
  src/api/utils/propagation_strategies.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Fix broken test
  tests/integration/test_fov_tasks.py
Due: none

Add additional tests for batch executor/serializer
  tests/unit/test_utils.py
Due: none
