Repository iausathub/satchecker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag, Dev DB Migrate

Dev API Test:
  image: python:3.11
  services:
  - name: redis:latest
    alias: redis
  - name: postgres:latest
    alias: postgres
    variables:
      POSTGRES_DB: test_satchecker
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    command:
    - postgres
    - -c
    - fsync=off
  variables:
    POSTGRES_DB: test_satchecker
  ...

Dev API Build:
  stage: build
  variables:
    REGISTRY_SUBPATH: api-dev
    CONTAINERFILE: Dockerfile
    CONTAINER_CONTEXT: src/api
    ENVIRONMENT: dev

Dev API Push Tag:
  stage: push
  variables:
    APP_NAME: itops-cps-satchecker-dev
  dependencies:
  - Dev API Build

Prod API Test:
  image: python:3.11
  services:
  - name: redis:latest
    alias: redis
  - name: postgres:latest
    alias: postgres
    variables:
      POSTGRES_DB: test_satchecker
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    command:
    - postgres
    - -c
    - fsync=off
  variables:
    POSTGRES_DB: test_satchecker
  ...

Prod API Build:
  stage: build
  variables:
    REGISTRY_SUBPATH: api-prod
    CONTAINERFILE: Dockerfile
    CONTAINER_CONTEXT: src/api
    ENVIRONMENT: prod

Prod API Push Tag:
  stage: push
  variables:
    APP_NAME: itops-cps-satchecker
  dependencies:
  - Prod API Build

Dev Data Build:
  stage: build
  variables:
    REGISTRY_SUBPATH: data-dev
    CONTAINERFILE: Dockerfile
    CONTAINER_CONTEXT: src/data
    ENVIRONMENT: dev

Dev Data Push Tag:
  stage: push
  variables:
    APP_NAME: itops-cps-satchecker-dev
  dependencies:
  - Dev Data Build

Prod Data Build:
  stage: build
  variables:
    REGISTRY_SUBPATH: data-prod
    CONTAINERFILE: Dockerfile
    CONTAINER_CONTEXT: src/data
    ENVIRONMENT: prod

Prod Data Push Tag:
  stage: push
  variables:
    APP_NAME: itops-cps-satchecker
  dependencies:
  - Prod Data Build

Dev DB Migrate:
  image: python:3.11
  stage: migrate
  before_script:
  - pip install -r src/api/requirements.txt
  - pip install alembic psycopg2-binary
  variables:
    PYTHONPATH: src
  script:
  - export PYTHONPATH=src
  - cd src/api
  - alembic -c migrations/alembic.ini upgrade head

Rename changelog fragment to PR number
  src/api/changes/241.bugfix.md
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Fix flat-sky angular distance in ephemeris-refined FOV results
  src/api/changes/+fov-angular-separation.bugfix.md
  src/api/services/fov_service.py
  src/api/services/tasks/fov_tasks.py
  src/api/utils/coordinate_systems.py
  tests/unit/test_utils.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Rename changelog fragment to PR number
  src/api/changes/239.bugfix.md
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add end-to-end RA/Dec cross-check against astropy
  tests/unit/test_utils.py
Due: none

Add AGENTS.md and CLAUDE.md; update documentation paths
  .github/CONTRIBUTING.md
  .github/pull_request_template.md
  .github/workflows/run_tests.yml
  AGENTS.md
  CLAUDE.md
  README.md
  dev/wiki/Home.md
Due: none

Add object id back to ephemeris results
  src/api/adapters/repositories/orbital_elements_repository.py
  src/api/adapters/repositories/tle_repository.py
  tests/integration/test_orbital_elements_repository.py
  tests/integration/test_tle_repository.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Fix error with scheduler starting multiple times in tests
  src/api/__init__.py
  tests/factories/tdm_prediction_factory.py
  tests/integration/test_orbital_elements_repository.py
  tests/integration/test_sat_repository.py
  tests/integration/test_tdm_repository.py
  tests/integration/test_tle_repository.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Pass Flask app to initial cache refresh instead of current_app proxy
  src/api/__init__.py
  src/api/services/cache_service.py
  tests/unit/test_cache_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Update code_coverage workflow to only update PR with comment on same-repo PRs
  .github/workflows/code_coverage.yml
Due: none

add Benchmark (pytest) benchmark result for b1697055f637daf4a0ef18bed98a1d350f76002d
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for 3cec98c72a6c1ae35d843c1812076655460f0a13
  dev/bench/data.js
Due: none

Update API documentation
  docs/source/fov.rst
  docs/source/index.rst
  docs/source/tools_data_access.rst
  docs/source/tools_tle.rst
Due: none

Add change fragments
  src/api/changes/245.bugfix.md
  src/api/changes/245.feature.md
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Additional tests to cover OMM routes
  tests/integration/test_tools_routes.py
  tests/unit/test_tools_service.py
  tests/unit/test_validation_service.py
Due: none

Address mypy errors
  src/api/services/tools_service.py
  tests/integration/test_tools_routes.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Validate and convert NORAD id/norad_id params to int in validate_parameters
  src/api/services/validation_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add changelog fragments for 1.7.0 bugfixes
  src/api/changes/+cache-on-startup.bugfix.md
  src/api/changes/+ephemeris-error-codes.bugfix.md
  src/api/changes/245.bugfix.1.md
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Renumber ephemeris-interpolation fragments to #173 and add FOV margin note
  src/api/changes/173.bugfix.md
  src/api/changes/173.changed.md
  src/api/changes/173.feature.md
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Update API to version 1.7.0
  changes.md
  docs/source/conf.py
  src/api/changes/+cache-on-startup.bugfix.md
  src/api/changes/+ephemeris-error-codes.bugfix.md
  src/api/changes/173.bugfix.md
  src/api/changes/173.changed.md
  src/api/changes/173.feature.md
  src/api/changes/225.feature.md
  src/api/changes/239.bugfix.md
  src/api/changes/241.bugfix.md
  src/api/changes/245.bugfix.1.md
  src/api/changes/245.bugfix.md
  src/api/changes/245.feature.md
  src/api/entrypoints/v1/routes/__init__.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

add Benchmark (pytest) benchmark result for 205f0b1eb1c7bc5763c4fedaad336063a267788e
  dev/bench/data.js
Due: none

Return 400 (not 500) for invalid dates on search-satellites
  src/api/services/validation_service.py
  tests/unit/test_validation_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add changelog fragment for search-satellites date 400 fix (#250)
  src/api/changes/250.bugfix.md
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Prevent empty TDM files from blocking data upload
  src/data/tdm_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

add Benchmark (pytest) benchmark result for 475addfe10aaded542e18521bc0800eeb85e49f1
  dev/bench/data.js
Due: none

Return 400 instead of 500 with invalid catalog parameters (should always be integers)
  src/api/changes/252.bugfix.md
  src/api/middleware/error_handler.py
  src/api/services/validation_service.py
  tests/unit/test_error_handler.py
  tests/unit/test_validation_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add optional parameter to convert OMM elements to TLE in FOV results
  src/api/changes/252.feature.md
  src/api/changes/253.bugfix.md
  src/api/entrypoints/v1/routes/fov_routes.py
  src/api/services/fov_service.py
  src/api/services/tasks/fov_tasks.py
  src/api/services/validation_service.py
  src/api/utils/propagation_strategies.py
  tests/unit/test_fov_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Convert OMM to TLE when needed to maintain TLE retrieval functionality
  src/api/entrypoints/v1/routes/tools_routes.py
  src/api/services/tools_service.py
  src/api/utils/orbital_data_utils.py
  src/api/utils/propagation_strategies.py
  tests/integration/test_tools_routes.py
  tests/unit/test_fov_service.py
  tests/unit/test_tools_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add changelog for OMM to TLE conversion in TLE data endpoints
  src/api/changes/252.feature.1.md
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Added missing parameter to failing tests
  tests/unit/test_utils.py
Due: none

Add has_current_sat_number check SatelliteRepository to address flaky test
  src/api/adapters/repositories/satellite_repository.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

add Benchmark (pytest) benchmark result for 26396b97f34d2e059f7254c7601d494bcd39b695
  dev/bench/data.js
Due: none

Add missing changelog
  src/api/changes/252.feature.2.md
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Bump version to 1.8.0
  changes.md
  docs/source/conf.py
  src/api/changes/250.bugfix.md
  src/api/changes/252.feature.1.md
  src/api/changes/252.feature.2.md
  src/api/changes/253.bugfix.md
  src/api/entrypoints/v1/routes/__init__.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Fix PR number in changes.md
  changes.md
Due: none

add Benchmark (pytest) benchmark result for 44fa3307302775fe7453dfbcb7b71c59045cfa93
  dev/bench/data.js
Due: none

Fix for generation info not getting saved with Starlink satellites
  src/data/satellite_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Fix for temporary sat numbers used by Celestrak not getting corrected with the final version
  src/api/adapters/database_orm.py
  src/api/migrations/versions/b7e3c1ad4f2a_add_unique_tdm_folder_track.py
  src/api/migrations/versions/c41e8a9d02f7_add_is_canonical_to_generated_orbital_data.py
  src/api/migrations/versions/e4b9f1c72a30_add_object_id_index_to_satellites.py
  src/data/tle_utils.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag, Dev DB Migrate

add Benchmark (pytest) benchmark result for a850db1c990e9b6373049434e979517aa9e7561d
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for d0791db969dc4298db24e7669ab9e2711c046ec4
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for a638d72b67c7d93de043e47e6156d54474f377d6
  dev/bench/data.js
Due: none

Path conditions:
  Dev API Test: any of: src/api/**/*
  Dev API Build: any of: src/api/**/*
  Dev API Push Tag: any of: src/api/**/*
  Prod API Test: any of: src/api/**/*
  Prod API Build: any of: src/api/**/*
  Prod API Push Tag: any of: src/api/**/*
  Dev Data Build: any of: src/data/**/*
  Dev Data Push Tag: any of: src/data/**/*
  Prod Data Build: any of: src/data/**/*
  Prod Data Push Tag: any of: src/data/**/*
  Dev DB Migrate: any of: src/api/migrations/**/*
