Repository iausathub/satchecker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

.gitlab-ci.yml:

stages:
  - test
  - build
  - push

include:
  - project: "noirlab/ci-cd-common"
    file:
      # Can't build multi-arch. psutil is not available for arm64.
      - "jobs/build-container-image.tpl.yml"
      - "jobs/k8s-update-tag.tpl.yml"

.test:
  image: python:3.11
  before_script:
    - python -m pip install --upgrade pip
    - pip install pytest pytest-mock
    - pip install -r api/requirements.txt;
  script:
    - pytest
  artifacts:
    expose_as: "Pytest coverage report"
    paths:
      - htmlcov

####### DEVELOPMENT API #######
Dev API Test:
  extends: .test
  stage: test
  rules:
    # - if: '$CI_PIPELINE_SOURCE == "external_pull_request_event"'
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_COMMIT_BRANCH == "develop"
      changes:
        - "api/**/*"

Dev API Build:
  extends: .build_image
  stage: build
  variables:
    REGISTRY_SUBPATH: "api-dev"
    CONTAINERFILE: "Dockerfile"
    CONTAINER_CONTEXT: "api"
    ENVIRONMENT: "dev"
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_COMMIT_BRANCH == "develop"
      changes:
        - "api/**/*"

Dev API Push Tag:
  extends: .push_tag
  stage: push
  variables:
    APP_NAME: "itops-cps-satchecker-dev"
  dependencies:
    - Dev API Build
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_COMMIT_BRANCH == "develop"
      changes:
        - "api/**/*"

####### PRODUCTION API #######

Prod API Test:
  extends: .test
  stage: test
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - "api/**/*"

Prod API Build:
  extends: .build_image
  stage: build
  variables:
    REGISTRY_SUBPATH: "api-prod"
    CONTAINERFILE: "Dockerfile"
    CONTAINER_CONTEXT: "api"
    ENVIRONMENT: "prod"
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - "api/**/*"

Prod API Push Tag:
  extends: .push_tag
  stage: push
  variables:
    APP_NAME: "itops-cps-satchecker"
  dependencies:
    - Dev API Build
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - "api/**/*"

####### DEVELOPMENT DATA #######

Dev Data Build:
  extends: .build_image
  stage: build
  variables:
    REGISTRY_SUBPATH: "data-dev"
    CONTAINERFILE: "Dockerfile"
    CONTAINER_CONTEXT: "data"
    ENVIRONMENT: "dev"
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "develop"
      changes:
        - "data/**/*"

Dev Data Push Tag:
  extends: .push_tag
  stage: push
  variables:
    APP_NAME: "itops-cps-satchecker-dev"
  dependencies:
    - Dev Data Build
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "develop"
      changes:
        - "data/**/*"

####### DEVELOPMENT DATA #######

Prod Data Build:
  extends: .build_image
  stage: build
  variables:
    REGISTRY_SUBPATH: "data-prod"
    CONTAINERFILE: "Dockerfile"
    CONTAINER_CONTEXT: "data"
    ENVIRONMENT: "prod"
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - "data/**/*"

Prod Data Push Tag:
  extends: .push_tag
  stage: push
  variables:
    APP_NAME: "itops-cps-satchecker"
  dependencies:
    - Prod Data Build
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - "data/**/*"

Test ruff import error message
  api/utils/coordinate_systems.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Refactor and move routes to separate folder to start versioning - both "v1" and original URLs point to the same route currently; move celery initialization to separate module to prevent import issues
  api/core/__init__.py
  api/core/celery_app.py
  api/core/database/tle_access.py
  api/core/extensions.py
  api/core/propagation_strategies.py
  api/core/versions/v1/__init__.py
  api/core/versions/v1/routes.py
  api/core/versions/v1/tasks.py
  api/utils/__init__.py
  tests/test_endpoints.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Try to get tests running in github actions
  tests/conftest.py
Due: none

Test change to use application context in github actions tests
  .github/workflows/run_tests.yml
Due: none

Trying another change to fix app_context issue in tests
  tests/conftest.py
Due: none

Change test to try to fix app context issue
  tests/test_endpoints.py
Due: none

Move app_context in test conf
  tests/conftest.py
  tests/test_endpoints.py
Due: none

Move app_context check to tasks to skip logging if context not found
  api/core/versions/v1/tasks.py
  tests/conftest.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

add missing field to match data (julian date for position)
  api/core/utils.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Update example notebook
  api/core/propagation_strategies.py
  docs/source/notebooks/demo.ipynb
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Update documentation version
  docs/source/conf.py
Due: none

Add additional error info to health check
  api/core/versions/v1/routes.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Try to fix 403 error during health check
  api/core/versions/v1/routes.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Update documentation post-refactor
  docs/source/conf.py
  docs/source/core.rst
  docs/source/modules.rst
Due: none

Add additional path to documentation conf.py
  docs/source/conf.py
Due: none

Change import directory in conf.py
  docs/source/conf.py
Due: none

Update versions and release notes
  api/core/database/tle_access.py
  api/core/versions/v1/tasks.py
  docs/source/api_response.rst
  docs/source/release.rst
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Update integration tests to match TLE with slightly different time used; fix response error codes in tests
  tests/test_integration.py
Due: none

Test deploying specific version
  .github/workflows/test-deploy.yml
Due: none

Remove trigger to deploy version specific workflow on pushes to develop (manual only)
  .github/workflows/test-deploy.yml
Due: none

Change example url in notebook
  docs/source/notebooks/demo.ipynb
Due: none

Add additional utils tests and exclude unfinished propagation work from code coverage
  .github/workflows/code_coverage.yml
  api/core/propagation_strategies.py
  api/core/utils.py
  api/core/versions/v1/tasks.py
  tests/test_utils.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Fix command to start flask in code coverage workflow
  .github/workflows/code_coverage.yml
Due: none

Exclude original versions of propagate_satellite from code coverage until they're ready to remove; add json_output test
  api/core/database/tle_access.py
  api/core/utils.py
  tests/test_utils.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Disable deploy on push - no longer needed
  .github/workflows/deploy-dev.yml
Due: none

Remove deploy on push
  .github/workflows/test-deploy.yml
Due: none

Add logging message for new satellites
  data/tle_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Fix format and missing log time
  data/tle_utils.py
  tests/test_integration.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Remove deploy on push
  .github/workflows/deploy-dev.yml
Due: none

Change comparison date used from date_collected to epoch
  api/core/database/tle_access.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Move db and spacetrack login/connection info to shared utils; update decayed satellites; update additional satellite metadata and date modified when adding a TLE for a given satellite
  data/connections.py
  data/retrieve_tle.py
  data/retrieve_tle_aws.py
  data/satellite_utils.py
  data/tle_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Add clarification for GCRS positions
  docs/source/api_response.rst
Due: none

Add framework to support the jd-step options
  src/api/common/error_messages.py
  src/api/entrypoints/extensions.py
  src/api/entrypoints/v1/routes/ephemeris_routes.py
  src/api/services/ephemeris_service.py
  src/api/services/validation_service.py
Due: none

Update path to requirements.txt
  .github/workflows/code_coverage.yml
  .github/workflows/run_tests.yml
Due: none

Update requirements.txt path for tests
  .github/workflows/run_tests.yml
Due: none

Temporarily (?) remove running flask/celery from run_tests github action
  .github/workflows/run_tests.yml
Due: none

Add missing files
  src/__init__.py
  src/api/__init__.py
  src/api/config.py
  src/api/entrypoints/__init__.py
Due: none

Change namespace to match pythonpath
  src/api/adapters/repositories/satellite_repository.py
  src/api/adapters/repositories/tle_repository.py
  src/api/core/__init__.py
  src/api/core/propagation_strategies.py
  src/api/domain/models/tle.py
  src/api/entrypoints/v1/routes/ephemeris_routes.py
  src/api/entrypoints/v1/routes/routes.py
  src/api/services/ephemeris_service.py
  src/api/services/validation_service.py
Due: none

Update missed file
  src/api/__init__.py
Due: none
