Repository iausathub/satchecker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag, Dev DB Migrate

Path conditions:
  Dev API Test: any of: src/api/**/*
  Dev API Build: any of: src/api/**/*
  Dev API Push Tag: any of: src/api/**/*
  Prod API Test: any of: src/api/**/*
  Prod API Build: any of: src/api/**/*
  Prod API Push Tag: any of: src/api/**/*
  Dev Data Build: any of: src/data/**/*
  Dev Data Push Tag: any of: src/data/**/*
  Prod Data Build: any of: src/data/**/*
  Prod Data Push Tag: any of: src/data/**/*
  Dev DB Migrate: any of: src/api/migrations/**/*

Add migration file for orbital elements table
  src/api/migrations/versions/371f0dee9465_add_orbital_elements_table.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev DB Migrate

Fix mypy errors
  src/api/adapters/repositories/orbital_data_lookup_mixin.py
  src/api/adapters/repositories/orbital_elements_repository.py
  src/api/services/ephemeris_service.py
  src/api/services/fov_service.py
  src/api/utils/orbital_data_utils.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Fix string syntax
  src/data/tle_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Update API documentation and add another test for satellites_above_horizon
  src/api/entrypoints/v1/routes/fov_routes.py
  src/api/services/fov_service.py
  tests/unit/test_fov_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Update cutoff date
  src/api/utils/orbital_data_utils.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Fix tasks not working in FOV test
  tests/unit/test_fov_service.py
Due: none

Update cutoff date for OMM data
  src/api/utils/orbital_data_utils.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

add Benchmark (pytest) benchmark result for ecf6e106f9d42e6e265d0f1f369bb10821c96d58
  dev/bench/data.js
Due: none

Rename tle to orbital data in API responses
  docs/source/fov.rst
  docs/source/tools_tle.rst
  src/api/entrypoints/v1/routes/fov_routes.py
  src/api/services/cache_service.py
  src/api/services/fov_service.py
  src/api/services/tasks/fov_tasks.py
  src/api/services/tools_service.py
  src/api/services/validation_service.py
  src/api/utils/output_utils.py
  src/api/utils/propagation_strategies.py
  src/data/ephemeris_utils.py
  src/data/orbital_data_generation.py
  tests/integration/test_tools_routes.py
  tests/unit/test_fov_service.py
  tests/unit/test_tools_service.py
  tests/unit/test_utils.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Fix output parameter name for orbital data and pass satellite ID through when saving orbital elements
  src/api/utils/propagation_strategies.py
  src/data/orbital_data_generation.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Fix api response documentation for 'orbital_data'
  src/api/entrypoints/v1/routes/fov_routes.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add change file
  src/api/changes/168.feature.md
  src/api/changes/225.feature.md
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Allow use of ephemeris data with tle_only=false
  src/api/entrypoints/v1/routes/fov_routes.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

add Benchmark (pytest) benchmark result for e401d0d50417f832840c9b085b9c0b3d7248f610
  dev/bench/data.js
Due: none

Move TDM data retrieval to Celestrak data check to avoid timeouts on SpaceTrack job
  src/data/retrieve_tle_aws.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Add URL to error logging in Celestrak data collection; retry failed Starlink ephemeris file downloads
  src/data/ephemeris_utils.py
  src/data/retrieve_tle_aws.py
  src/data/tle_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

add Benchmark (pytest) benchmark result for 3f3653aa5ae1f44e36de8a5a19cd60cf6fcdf725
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for 997d29231e02bbd01f8437eadf1c5f410aa83ee3
  dev/bench/data.js
Due: none

Move TDM collection back to spacetrack cron job
  src/data/retrieve_tle_aws.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

add Benchmark (pytest) benchmark result for 5b8317392ce74917d840c45e29341b438fca8e50
  dev/bench/data.js
Due: none

Batch add TDM data and add unique constraint
  src/api/adapters/database_orm.py
  src/data/tdm_utils.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

add Benchmark (pytest) benchmark result for 58db22656f40bdcbedadfc7cfa49186bee45e16b
  dev/bench/data.js
Due: none

Add fit check before saving new orbital elements (can refine later)
  src/data/orbital_data_generation.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Add script to compare list of observed positions against predictions
  validation/compare_observations_to_predictions.py
Due: none

Add has_current_sat_number check SatelliteRepository to address flaky test
  src/api/adapters/repositories/satellite_repository.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Fixes for mypy
  pyproject.toml
  validation/compare_observations_to_predictions.py
Due: none

add Benchmark (pytest) benchmark result for 5298c76687e51300eed009749d072e6193d55bc3
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for 761c038e09f9b2def888dc413d44c40a214618f0
  dev/bench/data.js
Due: none

Update Sphinx documentation
  docs/source/src.api.adapters.repositories.ephemeris_repository.rst
  docs/source/src.api.adapters.repositories.orbital_data_lookup_mixin.rst
  docs/source/src.api.adapters.repositories.orbital_elements_repository.rst
  docs/source/src.api.adapters.repositories.rst
  docs/source/src.api.adapters.repositories.tdm_repository.rst
  docs/source/src.api.common.rst
  docs/source/src.api.common.types.rst
  docs/source/src.api.domain.models.interpolable_ephemeris.rst
  docs/source/src.api.domain.models.interpolator_splines.rst
  docs/source/src.api.domain.models.orbital_data.rst
  docs/source/src.api.domain.models.orbital_elements.rst
  docs/source/src.api.domain.models.rst
  docs/source/src.api.domain.models.tdm_prediction.rst
  docs/source/src.api.domain.models.tdm_prediction_point.rst
  docs/source/src.api.init_db.rst
  docs/source/src.api.middleware.error_handler.rst
  docs/source/src.api.middleware.request_logger.rst
  docs/source/src.api.middleware.rst
  docs/source/src.api.rst
  docs/source/src.api.services.cache_service.rst
  docs/source/src.api.services.rst
  docs/source/src.api.services.tasks.fov_tasks.rst
  docs/source/src.api.services.tasks.rst
  docs/source/src.api.utils.interpolation_utils.rst
  docs/source/src.api.utils.location_utils.rst
  docs/source/src.api.utils.log_formatter.rst
  docs/source/src.api.utils.orbital_data_utils.rst
  docs/source/src.api.utils.redis_config.rst
  docs/source/src.api.utils.rst
  docs/source/src.api.utils.skyfield_loader.rst
Due: none

add Benchmark (pytest) benchmark result for d1bf0179acd413592602e0a9fe3db6a481f675d9
  dev/bench/data.js
Due: none

Address unhandled exception if julian_date=0 in API parameters
  src/api/services/validation_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

add Benchmark (pytest) benchmark result for 1310b5a0f97c89e1eefca57fc5669079fbb98ae2
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for a7f68bf87ce47008a67de98f6e0d66e1a1ebe8ce
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for b0d6955af3f27fff71c2557c3d027d2d590d9e6c
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for 79e197b4f87f0ffb9dfd5ab6614c8184b0e38551
  dev/bench/data.js
Due: none

Add OMM data access and include in FOV results
  src/api/adapters/repositories/orbital_elements_repository.py
  src/api/adapters/repositories/tle_repository.py
  src/api/domain/models/orbital_elements.py
  src/api/entrypoints/v1/routes/tools_routes.py
  src/api/services/cache_service.py
  src/api/services/fov_service.py
  src/api/services/tools_service.py
  src/api/utils/propagation_strategies.py
  tests/benchmark/test_fov_benchmark.py
  tests/conftest.py
  tests/integration/test_fov_tasks.py
  tests/integration/test_orbital_elements_repository.py
  tests/integration/test_tle_repository.py
  tests/integration/test_tools_routes.py
  tests/unit/test_cache_service.py
  tests/unit/test_fov_service.py
  tests/unit/test_tools_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Fix logging message about error with Astropy tmp folder, and include Astropy sites file in Dockerfile
  src/api/Dockerfile
  src/api/Dockerfile.celery
  src/api/services/validation_service.py
  src/api/utils/coordinate_systems.py
  src/api/utils/location_utils.py
  tests/unit/test_location_utils.py
  tests/unit/test_validation_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Fix data caching on container startup
  src/api/__init__.py
  src/api/services/cache_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Use mocker fixture instead of monkeypatch to match the test-suite style
  tests/unit/test_utils.py
Due: none

Apply illuminated_only filter to FOV results
  src/api/changes/+fov-illuminated-only-filter.bugfix.md
  src/api/utils/propagation_strategies.py
  tests/unit/test_utils.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag
