Repository iausathub/satchecker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag, Dev DB Migrate

Path conditions:
  Dev API Test: any of: src/api/**/*
  Dev API Build: any of: src/api/**/*
  Dev API Push Tag: any of: src/api/**/*
  Prod API Test: any of: src/api/**/*
  Prod API Build: any of: src/api/**/*
  Prod API Push Tag: any of: src/api/**/*
  Dev Data Build: any of: src/data/**/*
  Dev Data Push Tag: any of: src/data/**/*
  Prod Data Build: any of: src/data/**/*
  Prod Data Push Tag: any of: src/data/**/*
  Dev DB Migrate: any of: src/api/migrations/**/*

Add additional conditions in tests
  tests/unit/test_utils.py
Due: none

Change order of empty array check
  src/api/utils/coordinate_systems.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Fix new part of process_satellite_batch test
  tests/unit/test_utils.py
Due: none

Add satellite altitude and solar position to ephemeris endpoint results
  docs/source/api_response.rst
  docs/source/conf.py
  src/api/entrypoints/v1/routes/__init__.py
  src/api/entrypoints/v1/routes/ephemeris_routes.py
  src/api/utils/coordinate_systems.py
  src/api/utils/output_utils.py
  src/api/utils/propagation_strategies.py
  tests/integration/test_ephemeris_tasks.py
  tests/unit/test_utils.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add missing parameters for type checking
  src/api/utils/propagation_strategies.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Fix typo in test
  tests/unit/test_utils.py
Due: none

Add change note
  src/api/changes/164.feature.md
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Update changelog
  changes.md
  src/api/changes/156.changed.md
  src/api/changes/163.feature.md
  src/api/changes/164.feature.md
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Update benchmark results [skip ci]
  dev/bench/data.js
Due: none

Update TLE retrieval and satellite/designation creation to reflect the new table structures
  src/data/tle_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Add headers to fix Wikipedia page 403 access issues
  src/data/satellite_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Address type issues; return InterpolableEphemeris object when creating/inserting it to the table (needed in order to calculate and save splines/interpolators); Move
  src/api/services/fov_service.py
  src/api/utils/coordinate_systems.py
  src/api/utils/interpolation_utils.py
  src/api/utils/propagation_strategies.py
  src/data/satellite_utils.py
  src/data/tle_utils.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Add interpolator splines model
  src/api/domain/models/interpolator_splines.py
  src/api/services/fov_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Fix logic to use the closest generated_at date when looking for the closest ephemeris data to a given date
  src/api/adapters/repositories/ephemeris_repository.py
  src/api/services/fov_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add bindparam to compare epoch when getting closest ephemeris data
  src/api/adapters/repositories/ephemeris_repository.py
  src/api/services/fov_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Test changes to benchmark workflow to address error on publishing results
  .github/workflows/benchmark.yml
Due: none

Fix illuminated_only and include_tles parameter validation to check using lowercase text
  src/api/services/validation_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add missing token to benchmark workflow step
  .github/workflows/benchmark.yml
Due: none

Update Node version for load testing workflow error
  .github/workflows/load_testing.yml
Due: none

add Benchmark (pytest) benchmark result for 4a0ab5d730dc31ebce909d8f897733fef070e0c5
  gh-pages/dev/bench/data.js
  gh-pages/dev/bench/index.html
Due: none

add Benchmark (pytest) benchmark result for 346646886c3655e7b23063f5622ff38b424e1c3b
  gh-pages/dev/bench/data.js
Due: none

Update data directory for output in benchmark.yml
  .github/workflows/benchmark.yml
Due: none

add Benchmark (pytest) benchmark result for f03e3756a25a4bc04c92177e7e80afe32539e842
  dev/bench/data.js
Due: none

Compare skip_cache parameter converted to lowercase
  src/api/services/validation_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

add Benchmark (pytest) benchmark result for 6ddfa3be83cc3f7578a6c9d3425e023c3138c4bc
  dev/bench/data.js
Due: none

Update quality_check.yml - add missing permissions
  .github/workflows/quality_check.yml
Due: none

Update quality_check.yml - fix incomplete permission
  .github/workflows/quality_check.yml
Due: none

add Benchmark (pytest) benchmark result for 5fd2629b6749a586d36543a022d6ca744db7d7dc
  dev/bench/data.js
Due: none

Add manual test script to verify the content of FOV
  tests/validate_dev_vs_production.py
Due: none

Change constraint on unique satellite designations to allow for multiple time periods with the same sat number and name; set the valid_to to the TLE epoch date instead of the current date/time
  src/api/adapters/database_orm.py
  src/data/tle_utils.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

remove launch date from Satellite table unique constraints
  src/api/adapters/database_orm.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Use the valid_to date in satellite repository get() to get current designation
  src/api/adapters/repositories/satellite_repository.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Use unique object_id in tests since launch_date is no longer needed to be unique
  tests/factories/satellite_factory.py
  tests/validate_dev_vs_production.py
Due: none

Add missing dummy values for satellite alt and solar alt/az to benchmark test
  tests/benchmark/test_util_benchmark.py
Due: none

Reduce batch size for TLE updates to reduce lock issues
  src/data/tle_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Update ORM model for interpolator splines, add repository methods for InterpolatorSplines data, test saving splines during FOV calculation (also to test retrieval),
  src/api/adapters/database_orm.py
  src/api/adapters/repositories/ephemeris_repository.py
  src/api/domain/models/interpolable_ephemeris.py
  src/api/domain/models/interpolator_splines.py
  src/api/services/fov_service.py
  src/api/utils/interpolation_utils.py
  src/api/utils/propagation_strategies.py
  src/data/satellite_utils.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Add migration file
  src/api/migrations/versions/0219dd6a5b68_split_satellite_table_into_satellite_.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev DB Migrate

Update version and and change note
  src/api/__init__.py
  src/api/changes/167.changed.md
  src/api/entrypoints/v1/routes/__init__.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag
