Repository iausathub/satchecker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag, Dev DB Migrate

Path conditions:
  Dev API Test: any of: src/api/**/*
  Dev API Build: any of: src/api/**/*
  Dev API Push Tag: any of: src/api/**/*
  Prod API Test: any of: src/api/**/*
  Prod API Build: any of: src/api/**/*
  Prod API Push Tag: any of: src/api/**/*
  Dev Data Build: any of: src/data/**/*
  Dev Data Push Tag: any of: src/data/**/*
  Prod Data Build: any of: src/data/**/*
  Prod Data Push Tag: any of: src/data/**/*
  Dev DB Migrate: any of: src/api/migrations/**/*

Add ephemeris repository to FOV endpoint; start integration with using ephemeris instead of propagation where available
  src/api/entrypoints/v1/routes/__init__.py
  src/api/entrypoints/v1/routes/fov_routes.py
  src/api/services/ephemeris_service.py
  src/api/services/fov_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add additional tests for exception handling
  src/api/entrypoints/v1/routes/tools_routes.py
  tests/conftest.py
  tests/integration/test_tools_routes.py
  tests/unit/test_tools_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Use services_available fixture in ephemeris route testing
  tests/integration/test_ephemeris_routes.py
Due: none

Fix typing issue
  src/api/utils/output_utils.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add testing for ensure_datetime for Julian dates
  tests/unit/test_utils.py
Due: none

Temporarily disable cache until inconsistency issue is resolved
  src/api/services/fov_service.py
  tests/unit/test_fov_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add cache logging
  src/api/services/cache_service.py
  tests/unit/test_fov_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add logging to FOV service to look at the cache
  src/api/services/fov_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add additional logging to check cache before calculating FOV
  src/api/services/fov_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Commit TLEs in batches of 100 to avoid long transactions; fix new satellite check
  src/data/tle_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Add additional constellations to supplemental TLE collection
  src/data/tle_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

add Benchmark (pytest) benchmark result for c77820f640f33fb9cb694c3f60fcafdddfa6d5a8
  dev/bench/data.js
Due: none

Temporarily disable tests related to caching and fix formatting error
  src/api/services/fov_service.py
  tests/unit/test_fov_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

add Benchmark (pytest) benchmark result for b76c7409a490067561f989d9ceb4314451ef7eab
  dev/bench/data.js
Due: none

add constellation as filter to satellite-passes and satellites-above-horizon endpoints; fix data retrieval script to only update satellites if a field actually changed (and add constellation)
  src/api/adapters/repositories/tle_repository.py
  src/api/entrypoints/v1/routes/fov_routes.py
  src/api/services/cache_service.py
  src/api/services/fov_service.py
  src/api/services/validation_service.py
  src/data/tle_utils.py
  tests/benchmark/test_fov_benchmark.py
  tests/conftest.py
  tests/factories/satellite_factory.py
  tests/integration/test_fov_routes.py
  tests/integration/test_tle_repository.py
  tests/integration/test_tools_routes.py
  tests/unit/test_fov_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Fix typing errors
  src/api/adapters/repositories/tle_repository.py
  src/api/services/cache_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Update API documentation and fix satellites above horizon usage
  docs/source/fov.rst
  src/api/services/fov_service.py
  tests/conftest.py
  tests/unit/test_fov_service.py
  tests/unit/test_validation_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Disable ephemeris data retrieval
  src/data/retrieve_tle_aws.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Update query to get all TLEs at a given epoch (to address performance improvements for initial query)
  src/api/adapters/repositories/tle_repository.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Update function name in tests
  tests/integration/test_tle_repository.py
Due: none

Revert to original TLE query
  src/api/adapters/repositories/tle_repository.py
  tests/integration/test_tle_repository.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Re-enable ephemeris data collection with less time coverage (26 hours vs. 72)
  src/data/retrieve_tle_aws.py
  src/data/satellite_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Add data source parameter to FOV endpoint (optional - default is any/all data sources)
  src/api/adapters/repositories/tle_repository.py
  src/api/entrypoints/v1/routes/fov_routes.py
  src/api/services/cache_service.py
  src/api/services/fov_service.py
  tests/benchmark/test_fov_benchmark.py
  tests/conftest.py
  tests/integration/test_tle_repository.py
  tests/unit/test_fov_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Fix tests with missing parameter
  tests/conftest.py
  tests/unit/test_fov_service.py
Due: none

Rename data_source
  src/api/adapters/repositories/tle_repository.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Update documentation
  docs/source/fov.rst
  src/api/changes/fov_datasource.changed.md
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Fix additional tests
  tests/integration/test_tle_repository.py
  tests/unit/test_fov_service.py
Due: none

Update api docstring
  src/api/entrypoints/v1/routes/fov_routes.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add note about TLE accuracy to documentation
  docs/source/index.rst
  docs/source/notebooks/fov.ipynb
  docs/source/notes.rst
Due: none

Skip test coverage on experimental code
  src/api/changes/error_messages.changed.md
  src/api/changes/include_tles.feature.md
  src/api/changes/type.misc.md
  src/api/utils/propagation_strategies.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Rename Towncrier fragments and update version to 1.4.0
  docs/source/conf.py
  src/api/changes/135.feature.md
  src/api/changes/136.changed.md
  src/api/changes/136.misc.md
  src/api/changes/137.feature.md
  src/api/changes/143.misc.md
  src/api/changes/149.feature.md
  src/api/changes/151.bugfix.md
  src/api/changes/151.changed.md
  src/api/changes/152.changed.md
  src/api/changes/type.misc.md
  src/api/entrypoints/v1/routes/__init__.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Update changelog
  changes.md
  src/api/changes/135.feature.md
  src/api/changes/136.changed.md
  src/api/changes/136.misc.md
  src/api/changes/137.feature.md
  src/api/changes/143.misc.md
  src/api/changes/149.feature.md
  src/api/changes/151.bugfix.md
  src/api/changes/151.changed.md
  src/api/changes/152.changed.md
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Fix pragma nocover statements
  src/api/utils/propagation_strategies.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Fix pragma no cover
  src/api/adapters/repositories/tle_repository.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Fix nocover location
  src/api/adapters/repositories/tle_repository.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add test for original FOV calculation
  tests/benchmark/test_util_benchmark.py
Due: none

Remove single satellite FOV calc from test coverage until it's used again
  src/api/utils/propagation_strategies.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add tests for exception handling for repository related errors
  tests/conftest.py
  tests/unit/test_tools_service.py
Due: none

Add test for process_satellite_batch
  tests/unit/test_utils.py
Due: none
