Repository iausathub/satchecker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag, Dev DB Migrate

Dev API Test:
  image: python:3.11
  services:
  - name: redis:latest
    alias: redis
  - name: postgres:latest
    alias: postgres
    variables:
      POSTGRES_DB: test_satchecker
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    command:
    - postgres
    - -c
    - fsync=off
  variables:
    POSTGRES_DB: test_satchecker
  ...

Dev API Build:
  stage: build
  variables:
    REGISTRY_SUBPATH: api-dev
    CONTAINERFILE: Dockerfile
    CONTAINER_CONTEXT: src/api
    ENVIRONMENT: dev

Dev API Push Tag:
  stage: push
  variables:
    APP_NAME: itops-cps-satchecker-dev
  dependencies:
  - Dev API Build

Prod API Test:
  image: python:3.11
  services:
  - name: redis:latest
    alias: redis
  - name: postgres:latest
    alias: postgres
    variables:
      POSTGRES_DB: test_satchecker
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    command:
    - postgres
    - -c
    - fsync=off
  variables:
    POSTGRES_DB: test_satchecker
  ...

Prod API Build:
  stage: build
  variables:
    REGISTRY_SUBPATH: api-prod
    CONTAINERFILE: Dockerfile
    CONTAINER_CONTEXT: src/api
    ENVIRONMENT: prod

Prod API Push Tag:
  stage: push
  variables:
    APP_NAME: itops-cps-satchecker
  dependencies:
  - Prod API Build

Dev Data Build:
  stage: build
  variables:
    REGISTRY_SUBPATH: data-dev
    CONTAINERFILE: Dockerfile
    CONTAINER_CONTEXT: src/data
    ENVIRONMENT: dev

Dev Data Push Tag:
  stage: push
  variables:
    APP_NAME: itops-cps-satchecker-dev
  dependencies:
  - Dev Data Build

Prod Data Build:
  stage: build
  variables:
    REGISTRY_SUBPATH: data-prod
    CONTAINERFILE: Dockerfile
    CONTAINER_CONTEXT: src/data
    ENVIRONMENT: prod

Prod Data Push Tag:
  stage: push
  variables:
    APP_NAME: itops-cps-satchecker
  dependencies:
  - Prod Data Build

Dev DB Migrate:
  image: python:3.11
  stage: migrate
  before_script:
  - pip install -r src/api/requirements.txt
  - pip install alembic psycopg2-binary
  variables:
    PYTHONPATH: src
  script:
  - export PYTHONPATH=src
  - cd src/api
  - alembic -c migrations/alembic.ini upgrade head

Remove error on TLE fit failure
  src/data/ephemeris_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Fix syntax error in if condition for TLE generation
  src/data/ephemeris_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Fix formatting
  src/data/ephemeris_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

add Benchmark (pytest) benchmark result for f283d215123e9d9a41d76e70115b7e6b031ae158
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for a5a4e3279d937f7cca7b9ba971d92880c6d623ff
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for 9ddc602d53529c4d2da90ffcfdf3972e873e8acd
  dev/bench/data.js
Due: none

Change error codes for TLE issues in ephemeris endpopints
  src/api/middleware/error_handler.py
  src/api/services/ephemeris_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Update tests
  tests/integration/test_ephemeris_routes.py
Due: none

Update second test with error code changes
  tests/integration/test_ephemeris_routes.py
Due: none

add Benchmark (pytest) benchmark result for 954304a5d42dca9c21f145a4a4044de696a96026
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for 8b89446523e2b01ddb2ad742a797b628f64cf28d
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for cd2e765fb0fb03b86f96ddd3148f4729d904e9d2
  dev/bench/data.js
Due: none

Change SGP propagation error to log instead of RuntimeError
  src/data/ephemeris_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Change TLE not found error code to 422
  src/api/services/ephemeris_service.py
  tests/integration/test_ephemeris_routes.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

add Benchmark (pytest) benchmark result for 27d2caf03e9aefa3cdd574093c0652766941c949
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for 37b90fb57f42a1b40ef599f8120f6669aa1f54b1
  dev/bench/data.js
Due: none

Change TLE and satellite not found errors in ephemeris_utils to log as info
  src/data/ephemeris_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

add Benchmark (pytest) benchmark result for ee78b40699963289c62d612add12b271342ab8ce
  dev/bench/data.js
Due: none

Auto stash before merge of "ephemeris_data_s3" and "develop"
  dev/diagrams/system_landscape.puml
Due: none

Add missing parameter to test
  tests/unit/test_fov_service.py
Due: none

Convert MEME to TEME before generating TLEs; archive ephemeris data to S3 (disabled)
  src/data/ephemeris_utils.py
  src/data/frame_transforms.py
  src/data/retrieve_tle_aws.py
  src/data/tle_generation.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Disable ephemeris data usage for now; update parquet column names
  src/api/entrypoints/v1/routes/fov_routes.py
  src/data/ephemeris_utils.py
  tests/conftest.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Disable ephemeris position tests for now
  tests/integration/test_fov_tasks.py
Due: none

add Benchmark (pytest) benchmark result for d88410646c2b83368e6ae4cb4c754d9e2aab7825
  dev/bench/data.js
Due: none

Add pyarrow version 24.0.0 to requirements
  src/data/requirements.txt
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

add Benchmark (pytest) benchmark result for cf704e7b803305205bfa068798e71a6d65961400
  dev/bench/data.js
Due: none

Fix import of frame_transforms
  src/data/tle_generation.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

add Benchmark (pytest) benchmark result for 8dec3d9d88245b8eb83a68eb13fb805efcd676af
  dev/bench/data.js
Due: none

Add orbital elements class to store OMM format data
  src/api/adapters/database_orm.py
  src/data/tle_generation.py
  src/data/tle_utils.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Enable archiving of ephemeris points older than 1 week to S3
  src/api/adapters/database_orm.py
  src/api/adapters/repositories/ephemeris_repository.py
  src/api/domain/models/interpolable_ephemeris.py
  src/api/migrations/versions/345fd9dd1e6d_add_s3_file_link_and_run_id.py
  src/data/ephemeris_utils.py
  src/data/retrieve_tle_aws.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag, Dev DB Migrate

Address mypy and dependency errors
  pyproject.toml
  src/api/adapters/repositories/ephemeris_repository.py
  src/api/requirements.txt
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

add Benchmark (pytest) benchmark result for 8bc17413a283b98f12065cd062e9afc7d6cea4ed
  dev/bench/data.js
Due: none

Fix duplicate index name
  src/api/adapters/database_orm.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Rename environment variable for S3 bucket
  src/data/ephemeris_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Update environment variable for S3 bucket
  src/api/adapters/repositories/ephemeris_repository.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

add Benchmark (pytest) benchmark result for 032f408408c6a3d46bfe639a3e893fcf0c1666e6
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for 94dbc54228c0f6c8b5a9b8f3dadf6cd86f284e4f
  dev/bench/data.js
Due: none

Reference satellite object instead of sat_id when creating InterpolableEphemeris object
  src/data/ephemeris_utils.py
  src/data/tle_generation.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

add Benchmark (pytest) benchmark result for 03005c02d1d50403890867c89fbc734380ea5206
  dev/bench/data.js
Due: none

Add OMM usage to FOV and ephemeris endpoints
  pytest.ini
  src/api/adapters/repositories/orbital_data_lookup_mixin.py
  src/api/adapters/repositories/orbital_elements_repository.py
  src/api/adapters/repositories/tle_repository.py
  src/api/domain/models/orbital_data.py
  src/api/domain/models/orbital_elements.py
  src/api/domain/models/tle.py
  src/api/entrypoints/v1/routes/ephemeris_routes.py
  src/api/entrypoints/v1/routes/fov_routes.py
  src/api/services/cache_service.py
  src/api/services/ephemeris_service.py
  src/api/services/fov_service.py
  src/api/services/tasks/ephemeris_tasks.py
  src/api/services/tasks/fov_tasks.py
  src/api/utils/orbital_data_utils.py
  src/api/utils/output_utils.py
  src/api/utils/propagation_strategies.py
  src/data/tle_utils.py
  tests/benchmark/test_util_benchmark.py
  tests/conftest.py
  tests/factories/__init__.py
  tests/factories/orbital_elements_factory.py
  tests/factories/tle_factory.py
  tests/fixtures/iss_omm.json
  tests/fixtures/iss_tle.txt
  tests/integration/test_celestrak_orbital_data_ingest.py
  tests/integration/test_fov_tasks.py
  tests/integration/test_orbital_elements_repository.py
  tests/unit/test_cache_service.py
  tests/unit/test_fov_service.py
  tests/unit/test_krogh_propagation.py
  tests/unit/test_utils.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Path conditions:
  Dev API Test: any of: src/api/**/*
  Dev API Build: any of: src/api/**/*
  Dev API Push Tag: any of: src/api/**/*
  Prod API Test: any of: src/api/**/*
  Prod API Build: any of: src/api/**/*
  Prod API Push Tag: any of: src/api/**/*
  Dev Data Build: any of: src/data/**/*
  Dev Data Push Tag: any of: src/data/**/*
  Prod Data Build: any of: src/data/**/*
  Prod Data Push Tag: any of: src/data/**/*
  Dev DB Migrate: any of: src/api/migrations/**/*
