Repository iausathub/satchecker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag, Dev DB Migrate

Dev API Test:
  image: python:3.11
  services:
  - name: redis:latest
    alias: redis
  - name: postgres:latest
    alias: postgres
    variables:
      POSTGRES_DB: test_satchecker
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    command:
    - postgres
    - -c
    - fsync=off
  variables:
    POSTGRES_DB: test_satchecker
  ...

Dev API Build:
  stage: build
  variables:
    REGISTRY_SUBPATH: api-dev
    CONTAINERFILE: Dockerfile
    CONTAINER_CONTEXT: src/api
    ENVIRONMENT: dev

Dev API Push Tag:
  stage: push
  variables:
    APP_NAME: itops-cps-satchecker-dev
  dependencies:
  - Dev API Build

Prod API Test:
  image: python:3.11
  services:
  - name: redis:latest
    alias: redis
  - name: postgres:latest
    alias: postgres
    variables:
      POSTGRES_DB: test_satchecker
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    command:
    - postgres
    - -c
    - fsync=off
  variables:
    POSTGRES_DB: test_satchecker
  ...

Prod API Build:
  stage: build
  variables:
    REGISTRY_SUBPATH: api-prod
    CONTAINERFILE: Dockerfile
    CONTAINER_CONTEXT: src/api
    ENVIRONMENT: prod

Prod API Push Tag:
  stage: push
  variables:
    APP_NAME: itops-cps-satchecker
  dependencies:
  - Prod API Build

Dev Data Build:
  stage: build
  variables:
    REGISTRY_SUBPATH: data-dev
    CONTAINERFILE: Dockerfile
    CONTAINER_CONTEXT: src/data
    ENVIRONMENT: dev

Dev Data Push Tag:
  stage: push
  variables:
    APP_NAME: itops-cps-satchecker-dev
  dependencies:
  - Dev Data Build

Prod Data Build:
  stage: build
  variables:
    REGISTRY_SUBPATH: data-prod
    CONTAINERFILE: Dockerfile
    CONTAINER_CONTEXT: src/data
    ENVIRONMENT: prod

Prod Data Push Tag:
  stage: push
  variables:
    APP_NAME: itops-cps-satchecker
  dependencies:
  - Prod Data Build

Dev DB Migrate:
  image: python:3.11
  stage: migrate
  before_script:
  - pip install -r src/api/requirements.txt
  - pip install alembic psycopg2-binary
  variables:
    PYTHONPATH: src
  script:
  - export PYTHONPATH=src
  - cd src/api
  - alembic -c migrations/alembic.ini upgrade head

Add tests
  tests/integration/test_fov_tasks.py
Due: none

Update GitLab CI to also build Celery image
  .gitlab-ci.yml
  src/api/Dockerfile.celery
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Remove specific version from documentation
  docs/source/tools.rst
Due: none

Use :slim base image to reduce image file size.
  src/api/Dockerfile.celery
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Change copy path for Celery dockerfile
  src/api/Dockerfile.celery
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add additional tests for search-satellites
  tests/integration/test_tools_routes.py
Due: none

Change PYTHONPATH and celery worker path for Dockerfile
  src/api/Dockerfile.celery
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Remove redundant localhost ports for Redis URL and remove redis-server from the Dockerfile
  .github/workflows/benchmark.yml
  .github/workflows/code_coverage.yml
  .github/workflows/run_tests.yml
  .gitlab-ci.yml
  src/api/Dockerfile
  src/api/__init__.py
  src/api/celery_app.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Remove celery worker from main API container
  src/api/start.sh
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add fix from develop to address failure to retrieve Starlink generation data from wikipedia
  src/data/satellite_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

add Benchmark (pytest) benchmark result for a11796dfba926dc4bac721e20d86f45aa96c15e9
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for 45d8b0d5afb6b46300d8ce1fbbcddad4de60ae3c
  dev/bench/data.js
Due: none

Change production (when using Gunicorn) logs to JSON format, and unit tests
  .flaskenv
  src/api/__init__.py
  src/api/middleware/request_logger.py
  src/api/start.sh
  tests/unit/test_json_formatter.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Fix for type checking and flaky tests
  src/api/__init__.py
  tests/factories/satellite_factory.py
  tests/integration/test_tools_routes.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Change production logs to JSON format (#181)
  .flaskenv
  src/api/__init__.py
  src/api/middleware/request_logger.py
  src/api/start.sh
  tests/factories/satellite_factory.py
  tests/integration/test_tools_routes.py
  tests/unit/test_json_formatter.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Delete unused migration file
  src/api/migrations/versions/6d62f9a0d82a_merge_satellite_table_split_and_.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev DB Migrate

Add debug logging for request headers
  src/api/middleware/request_logger.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Fix debug log level
  src/api/middleware/request_logger.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Fix user agent, remove ip and debug logging for headers; add delay to allow Redis to start
  src/api/__init__.py
  src/api/middleware/request_logger.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Revert incorrect Redis URL in gitlab-ci and remove delay
  .gitlab-ci.yml
  src/api/__init__.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Revert redis-server in Dockerfile for now
  src/api/Dockerfile
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Remove redis-server from Dockerfile
  src/api/Dockerfile
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Move Redis URL to central config location, add change notes, update pre-commit hook versions
  .pre-commit-config.yaml
  src/api/__init__.py
  src/api/celery_app.py
  src/api/changes/174.feature.md
  src/api/changes/175.feature.md
  src/api/changes/178.changed.md
  src/api/changes/178.feature.md
  src/api/entrypoints/extensions.py
  src/api/utils/redis_config.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Update change log
  changes.md
  src/api/changes/175.feature.md
  src/api/changes/178.changed.md
  src/api/changes/178.feature.md
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Change TLE repository to use a temporary table for the satellites found for use in the query to get all TLEs at a given epoch
  docs/source/conf.py
  src/api/adapters/repositories/tle_repository.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Change TLE repository to use a temporary table for the satellites found for use in the query to get all TLEs at a given epoch (#182)
  docs/source/conf.py
  src/api/adapters/repositories/tle_repository.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Try fetching TLE results in chunks to see if that improves FOV query performance; add debug logging
  src/api/__init__.py
  src/api/adapters/repositories/tle_repository.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add example notebook for async FOV calls; update URL in FOV notebook
  docs/source/notebooks/async.ipynb
  docs/source/notebooks/fov.ipynb
Due: none

Revert "Try fetching TLE results in chunks to see if that improves FOV query performance; add debug logging"
  src/api/__init__.py
  src/api/adapters/repositories/tle_repository.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Redis and Celery deployment changes for production
  .gitlab-ci.yml
  src/api/Dockerfile
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

add Benchmark (pytest) benchmark result for 21c5b199a6504a36e5df68436789790586edad0c
  dev/bench/data.js
Due: none

Update Dockerfile for Celery configuration
  src/api/Dockerfile.celery
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

add Benchmark (pytest) benchmark result for a3d8a4580778e13fcad6491dee4bbac54b91489f
  dev/bench/data.js
Due: none

Update start.sh to modify server and worker settings
  src/api/start.sh
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Import celery app in satchecker.py
  src/api/satchecker.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

add Benchmark (pytest) benchmark result for f929bb1b116c4c5edf6a03e9dee809a18c96f74a
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for 475b331357ec90bf405e80a6796f00fe8ab4990a
  dev/bench/data.js
Due: none

Add database tables to hold position data from CCSDS TDM format; add check to data retrieval script to check S3 bucket for zip files containing TDM data.
  src/api/adapters/database_orm.py
  src/api/migrations/versions/47a6b948f843_add_tdm_prediction_tables.py
  src/data/retrieve_tle_aws.py
  src/data/tdm_utils.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag, Dev DB Migrate

Add S3 bucket name (credentials not needed since the cluster is AWS native)
  src/data/tdm_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Path conditions:
  Dev API Test: any of: src/api/**/*
  Dev API Build: any of: src/api/**/*
  Dev API Push Tag: any of: src/api/**/*
  Prod API Test: any of: src/api/**/*
  Prod API Build: any of: src/api/**/*
  Prod API Push Tag: any of: src/api/**/*
  Dev Data Build: any of: src/data/**/*
  Dev Data Push Tag: any of: src/data/**/*
  Prod Data Build: any of: src/data/**/*
  Prod Data Push Tag: any of: src/data/**/*
  Dev DB Migrate: any of: src/api/migrations/**/*
