Repository iausathub/satchecker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag, Dev DB Migrate

Path conditions:
  Dev API Test: any of: src/api/**/*
  Dev API Build: any of: src/api/**/*
  Dev API Push Tag: any of: src/api/**/*
  Prod API Test: any of: src/api/**/*
  Prod API Build: any of: src/api/**/*
  Prod API Push Tag: any of: src/api/**/*
  Dev Data Build: any of: src/data/**/*
  Dev Data Push Tag: any of: src/data/**/*
  Prod Data Build: any of: src/data/**/*
  Prod Data Push Tag: any of: src/data/**/*
  Dev DB Migrate: any of: src/api/migrations/**/*

Upgrade Skyfield, Numpy, and Astropy; increase timeout and threads for Gunicorn
  src/api/requirements.txt
  src/api/start.sh
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add threading and keep-alive to Gunicorn config
  src/api/start.sh
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Update package dependencies
  src/api/requirements.txt
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Downgrade packaging to original version
  src/api/requirements.txt
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Fix type error
  src/api/utils/propagation_strategies.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Change rate limiting to moving window
  src/api/entrypoints/extensions.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

add Benchmark (pytest) benchmark result for 44143d4dc41baeb4af8c817cabd2c9c7bce40017
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for 9e07554a1098e8ba02fb2f0af9b0f0f72867c2c3
  dev/bench/data.js
Due: none

Add parallel version of FOV calculations to test
  src/api/entrypoints/v1/routes/fov_routes.py
  src/api/services/fov_service.py
  src/api/utils/propagation_strategies.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Update acknowledgements page and add NSF logo
  docs/source/_static/_images/NSF_Official_logo_Med_Res_600ppi.png
  docs/source/acknowledgements.rst
Due: none

add Benchmark (pytest) benchmark result for 649eb965fa4efbece5f1cb9247d60796bfeec60d
  dev/bench/data.js
Due: none

Fix logging for parallel FOV execution
  src/api/services/fov_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Move ensure_datetime to util class, refactor query to get TLEs at epoch (speed improvements)
  src/api/adapters/repositories/tle_repository.py
  src/api/utils/time_utils.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add test for ensure_datetime
  tests/unit/test_utils.py
Due: none

Move parallel FOV code to primary FOV calculations
  src/api/entrypoints/v1/routes/fov_routes.py
  src/api/services/fov_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Change Astropy cache directory
  src/api/utils/coordinate_systems.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add Starlink generation info updating to SpaceTrack data collection
  src/data/requirements.txt
  src/data/retrieve_tle_aws.py
  src/data/satellite_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Update black (and formatted file)
  src/api/requirements.txt
  src/data/satellite_utils.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Fixed black version
  src/api/requirements.txt
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Restore old query for getting TLEs at epoch - new version experimental only
  src/api/adapters/repositories/tle_repository.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Remove duplicate function
  src/api/adapters/repositories/tle_repository.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add permissions to GitHub workflows
  .github/workflows/benchmark.yml
  .github/workflows/load_testing.yml
  .github/workflows/quality_check.yml
Due: none

Add db migration and models for interpolable ephemeris data
  src/api/adapters/database_orm.py
  src/api/domain/models/interpolable_ephemeris.py
  src/api/migrations/versions/8b697cb08897_add_interpolable_ephemeris.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev DB Migrate

Fix type errors
  src/api/adapters/database_orm.py
  src/api/domain/models/interpolable_ephemeris.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add ephemeris file data retrieval to SpaceTrack data retrieval script
  src/api/adapters/database_orm.py
  src/data/retrieve_tle_aws.py
  src/data/satellite_utils.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Add change note
  src/api/changes/ephemeris_files.misc.md
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add unit tests for new models
  tests/unit/test_interpolable_ephemeris.py
Due: none

Exclude experimental TLE query from code coverage
  src/api/adapters/repositories/tle_repository.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Fix namespace issues after changing datetime import
  src/data/satellite_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Add missing package in data requirements.txt
  src/data/requirements.txt
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Add interpolable ephemeris repository
  src/api/adapters/database_orm.py
  src/api/adapters/repositories/ephemeris_repository.py
  src/api/domain/models/interpolable_ephemeris.py
  tests/conftest.py
  tests/factories/__init__.py
  tests/factories/ephemeris_factory.py
  tests/integration/test_ephemeris_repository.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Fix type errors
  src/api/adapters/repositories/ephemeris_repository.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Fix failing tests
  src/api/domain/models/interpolable_ephemeris.py
  tests/unit/test_interpolable_ephemeris.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add additional logging to ephemeris file parsing
  src/data/satellite_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Add additional log and exception messages, add exception handling in propagation_strategies, and add additional context to API error messages
  src/api/adapters/repositories/tle_repository.py
  src/api/changes/error_messages.changed.md
  src/api/services/fov_service.py
  src/api/services/tools_service.py
  src/api/services/validation_service.py
  src/api/utils/propagation_strategies.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add endpoint to retrieve Starlink generation info
  src/api/adapters/repositories/satellite_repository.py
  src/api/entrypoints/v1/routes/tools_routes.py
  src/api/services/tools_service.py
  tests/conftest.py
  tests/integration/test_sat_repository.py
  tests/integration/test_tools_routes.py
  tests/unit/test_tools_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Update API documentation
  docs/source/tools_satellites.rst
Due: none

Add exception handling to propagation strategies; load ephemeris from repository; use InterpolableEphemeris object format instead of directly parsed data
  src/api/utils/propagation_strategies.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Update ensure_datetime to handle Julian date float format
  src/api/utils/time_utils.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag
