Repository iausathub/satchecker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag, Dev DB Migrate

Path conditions:
  Dev API Test: any of: src/api/**/*
  Dev API Build: any of: src/api/**/*
  Dev API Push Tag: any of: src/api/**/*
  Prod API Test: any of: src/api/**/*
  Prod API Build: any of: src/api/**/*
  Prod API Push Tag: any of: src/api/**/*
  Dev Data Build: any of: src/data/**/*
  Dev Data Push Tag: any of: src/data/**/*
  Prod Data Build: any of: src/data/**/*
  Prod Data Push Tag: any of: src/data/**/*
  Dev DB Migrate: any of: src/api/migrations/**/*

Add tests for warning messages in tools service
  tests/conftest.py
  tests/unit/test_tools_service.py
Due: none

Add test for errors in satellites_above_horizon
  tests/unit/test_fov_service.py
Due: none

Remove skip cache refresh flag from test coverage check
  docs/source/conf.py
  src/api/__init__.py
  src/api/services/fov_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add additional test for designation not found error
  src/api/domain/models/satellite.py
  src/api/services/ephemeris_service.py
  tests/integration/test_ephemeris_routes.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

add Benchmark (pytest) benchmark result for 5fd2629b6749a586d36543a022d6ca744db7d7dc
  dev/bench/data.js
Due: none

Change logic for getting decayed satellites to update based on object_id
  src/data/satellite_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Fix for getting Starlink satellites with the new satellite_designation table
  src/data/satellite_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Fix db upgrade command in start.sh
  src/api/start.sh
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Fix query to match satellite by name for interpolable ephemeris
  src/data/satellite_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Make checking for satellites more robust when adding ephemeris data
  src/data/satellite_utils.py
  src/data/update_generations.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Fix multiple heads in migrations
  src/api/migrations/versions/6d62f9a0d82a_merge_satellite_table_split_and_.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev DB Migrate

Missing files from revert
  src/data/satellite_utils.py
  src/data/update_generations.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Fix type issues
  src/api/adapters/repositories/ephemeris_repository.py
  src/api/domain/models/interpolator_splines.py
  src/api/services/fov_service.py
  src/api/utils/interpolation_utils.py
  src/api/utils/propagation_strategies.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add raw covariance matrix to results
  src/api/services/fov_service.py
  src/api/utils/output_utils.py
  src/api/utils/propagation_strategies.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Sort by Julian date for default FOV results
  src/api/changes/168.bugfix.md
  src/api/changes/168.feature.md
  src/api/utils/output_utils.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Fix test error
  src/api/utils/output_utils.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add 20% margin to FOV to catch all potential satellites
  src/api/services/fov_service.py
  src/api/utils/propagation_strategies.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Resize test FOV to account for increased margin
  tests/unit/test_fov_service.py
Due: none

Test gthread workers for Gunicorn
  src/api/start.sh
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Adjust number of workers/threads for Gunicorn
  src/api/start.sh
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Revert Gunicorn worker settings
  src/api/start.sh
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Fix benchmark test to add missing parameters; Add GitHub Action to mirror content from main repo to the wiki page (and copy current wiki content to /dev/wiki/
  .flaskenv
  .github/workflows/update_wiki.yml
  dev/wiki/Architecture.md
  dev/wiki/Development-Workflow.md
  dev/wiki/Glossary.md
  dev/wiki/Home.md
  dev/wiki/Satellite-Propagation.md
  dev/wiki/Setup.md
  dev/wiki/TLE-Data-Collection.md
  dev/wiki/_Sidebar.md
  dev/wiki/fov_verification.md
  tests/benchmark/test_util_benchmark.py
Due: none

Try better way of updating current wiki files
  .github/workflows/update_wiki.yml
Due: none

Fix benchmark test to add missing parameters; Add GitHub Action to mirror content from main repo to the wiki page (and copy current wiki content to /dev/wiki/
  .flaskenv
  .github/workflows/update_wiki.yml
  dev/wiki/Architecture.md
  dev/wiki/Development-Workflow.md
  dev/wiki/Glossary.md
  dev/wiki/Home.md
  dev/wiki/Satellite-Propagation.md
  dev/wiki/Setup.md
  dev/wiki/TLE-Data-Collection.md
  dev/wiki/_Sidebar.md
  dev/wiki/fov_verification.md
Due: none

Add wiki page for test structure
  dev/wiki/Tests.md
  dev/wiki/_Sidebar.md
Due: none

Debug output to fix GitHub action for wiki updates
  .github/workflows/update_wiki.yml
Due: none

Create update_wiki.yml to enable manual trigger
  .github/workflows/update_wiki.yml
Due: none

add Benchmark (pytest) benchmark result for d05b8b73489aac4f8de1880ca4b941ffef6176cc
  dev/bench/data.js
Due: none

Add test info to wiki
  dev/wiki/Home.md
Due: none

Move position transform to before reconstruct_covariance_at_time
  src/api/utils/coordinate_systems.py
  src/api/utils/propagation_strategies.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Update type checking for optional and union cases
  src/api/adapters/repositories/ephemeris_repository.py
  src/api/adapters/repositories/satellite_repository.py
  src/api/adapters/repositories/tle_repository.py
  src/api/common/exceptions.py
  src/api/domain/models/interpolable_ephemeris.py
  src/api/domain/models/interpolator_splines.py
  src/api/domain/models/satellite.py
  src/api/services/cache_service.py
  src/api/services/ephemeris_service.py
  src/api/services/fov_service.py
  src/api/services/tasks/ephemeris_tasks.py
  src/api/services/tools_service.py
  src/api/utils/interpolation_utils.py
  src/api/utils/propagation_strategies.py
  src/data/satellite_utils.py
  src/data/update_generations.py
  tests/conftest.py
  tests/test_full_api.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Add additional missing type checking fixes
  docs/source/notebooks/demo.ipynb
  src/data/satellite_utils.py
  tests/conftest.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Convert to list for type correctness
  src/api/utils/coordinate_systems.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Fix timestamp parsing for ephemeris files
  src/data/satellite_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Update optional and union type handling and update Ruff
  docs/source/notebooks/demo.ipynb
  src/api/adapters/repositories/satellite_repository.py
  src/api/adapters/repositories/tle_repository.py
  src/api/common/exceptions.py
  src/api/domain/models/interpolable_ephemeris.py
  src/api/domain/models/satellite.py
  src/api/requirements.txt
  src/api/services/cache_service.py
  src/api/services/ephemeris_service.py
  src/api/services/fov_service.py
  src/api/services/tasks/ephemeris_tasks.py
  src/api/services/tools_service.py
  src/api/utils/propagation_strategies.py
  src/data/satellite_utils.py
  src/data/update_generations.py
  tests/test_full_api.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Move serialization tests to TLE repository test file
  src/api/entrypoints/v1/routes/fov_routes.py
  src/api/services/fov_service.py
  src/api/services/tasks/fov_tasks.py
  tests/integration/test_tle_repository.py
  tests/unit/test_cache_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Fix type checking error with return type
  src/api/services/fov_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag
