Repository iausathub/satchecker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag, Dev DB Migrate

Dev API Test:
  image: python:3.11
  services:
  - name: redis:latest
    alias: redis
  - name: postgres:latest
    alias: postgres
    variables:
      POSTGRES_DB: test_satchecker
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    command:
    - postgres
    - -c
    - fsync=off
  variables:
    POSTGRES_DB: test_satchecker
  ...

Dev API Build:
  stage: build
  variables:
    REGISTRY_SUBPATH: api-dev
    CONTAINERFILE: Dockerfile
    CONTAINER_CONTEXT: src/api
    ENVIRONMENT: dev

Dev API Push Tag:
  stage: push
  variables:
    APP_NAME: itops-cps-satchecker-dev
  dependencies:
  - Dev API Build

Prod API Test:
  image: python:3.11
  services:
  - name: redis:latest
    alias: redis
  - name: postgres:latest
    alias: postgres
    variables:
      POSTGRES_DB: test_satchecker
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    command:
    - postgres
    - -c
    - fsync=off
  variables:
    POSTGRES_DB: test_satchecker
  ...

Prod API Build:
  stage: build
  variables:
    REGISTRY_SUBPATH: api-prod
    CONTAINERFILE: Dockerfile
    CONTAINER_CONTEXT: src/api
    ENVIRONMENT: prod

Prod API Push Tag:
  stage: push
  variables:
    APP_NAME: itops-cps-satchecker
  dependencies:
  - Prod API Build

Dev Data Build:
  stage: build
  variables:
    REGISTRY_SUBPATH: data-dev
    CONTAINERFILE: Dockerfile
    CONTAINER_CONTEXT: src/data
    ENVIRONMENT: dev

Dev Data Push Tag:
  stage: push
  variables:
    APP_NAME: itops-cps-satchecker-dev
  dependencies:
  - Dev Data Build

Prod Data Build:
  stage: build
  variables:
    REGISTRY_SUBPATH: data-prod
    CONTAINERFILE: Dockerfile
    CONTAINER_CONTEXT: src/data
    ENVIRONMENT: prod

Prod Data Push Tag:
  stage: push
  variables:
    APP_NAME: itops-cps-satchecker
  dependencies:
  - Prod Data Build

Dev DB Migrate:
  image: python:3.11
  stage: migrate
  before_script:
  - pip install -r src/api/requirements.txt
  - pip install alembic psycopg2-binary
  variables:
    PYTHONPATH: src
  script:
  - export PYTHONPATH=src
  - cd src/api
  - alembic -c migrations/alembic.ini upgrade head

Pass illuminated_only to propagation in sync FOV calculations
  src/api/services/fov_service.py
  src/api/services/tasks/fov_tasks.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

add Benchmark (pytest) benchmark result for e5621d25a2e3a9119fefecdf765e225708be0013
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for dd03b5ef40ea662475655576d45497d1ba86ffce
  dev/bench/data.js
Due: none

Add missing changes
  src/data/retrieve_tle_aws.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

add Benchmark (pytest) benchmark result for 1838f49fe6dce151ca68e7cdca4ecf2b8e9d9b2e
  dev/bench/data.js
Due: none

Add TLE generation from ephemeris data
  src/data/ephemeris_utils.py
  src/data/retrieve_tle_aws.py
  src/data/satellite_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

add Benchmark (pytest) benchmark result for 589c09b8ed35f0bcb3756969486dc9a142007bb3
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for 205b7acccbacd5318dbfcd487dce68cc141b3ab8
  dev/bench/data.js
Due: none

Update requirements.txt
  src/data/requirements.txt
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

add Benchmark (pytest) benchmark result for 38345a422d8d8c9dafc715befbb4bde7a7002cd4
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for 8c6a0c82106ee81db912f511e171f08abdecdf8b
  dev/bench/data.js
Due: none

Add missing files
  src/data/Dockerfile
  src/data/requirements.txt
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

add Benchmark (pytest) benchmark result for 7e7ae710fa6fd67e2b7eff7f9ede1f4c6e79769d
  dev/bench/data.js
Due: none

Update gitlab config
  .gitlab-ci.yml
Due: none

add Benchmark (pytest) benchmark result for e7abe7cc2ed2c30518f53826f2672839f49cf7ee
  dev/bench/data.js
Due: none

Update dependencies
  src/api/requirements.txt
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

add Benchmark (pytest) benchmark result for c7257547691c677ee4666e93d65bff595f12ef30
  dev/bench/data.js
Due: none

Trigger data image rebuild
  src/data/ephemeris_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

add Benchmark (pytest) benchmark result for 26ef9df82a470a4fd38ab521223db5c670191583
  dev/bench/data.js
Due: none

Fix file references
  src/data/Dockerfile
  src/data/docker_context_stubs/api/__init__.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

add Benchmark (pytest) benchmark result for 629243bac5741f8ab184bad4617300b792051b1d
  dev/bench/data.js
Due: none

Add cursor to get_starlink_ephemeris_data
  src/data/ephemeris_utils.py
  src/data/retrieve_tle_aws.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

add Benchmark (pytest) benchmark result for 8d58a98330c8d2713c2c5b223c6f903bd41733bd
  dev/bench/data.js
Due: none

Fix reference to sat id
  src/data/ephemeris_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

add Benchmark (pytest) benchmark result for 0a6d991dc4de768621ca3bbcb7ac4788996a7e1d
  dev/bench/data.js
Due: none

Get closest TLE to use as a seed for ephemeris based ones
  src/data/ephemeris_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

add Benchmark (pytest) benchmark result for 6aa837e02b27ed6ceb5af63b4d7e23c5224f9a60
  dev/bench/data.js
Due: none

Exclude generated TLEs by default for now (experimental use only)
  src/api/adapters/repositories/tle_repository.py
  src/api/entrypoints/v1/routes/fov_routes.py
  src/api/services/fov_service.py
  src/api/services/validation_service.py
  tests/conftest.py
  tests/unit/test_fov_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

add Benchmark (pytest) benchmark result for 4ec63cb435ee654efc6d7fe1ad043b148857d6f6
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for 1b40b920efa17f49790db934178cca4c7d8f048d
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for c50d8875e040f0da6a41b47f024325875750b563
  dev/bench/data.js
Due: none

TLE generation refactor
  src/data/ephemeris_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Change generated TLE epoch, constrain drag parameter, diagram updates,
  dev/diagrams/alerts_need_to_move/alert_component.png
  dev/diagrams/alerts_need_to_move/alert_component.puml
  dev/diagrams/api_component.mmd
  dev/diagrams/api_component.png
  dev/diagrams/api_component.puml
  dev/diagrams/architecture_changes.md
  dev/diagrams/component.puml
  dev/diagrams/core_api_component.png
  dev/diagrams/core_api_component.puml
  dev/diagrams/data_access_component.png
  dev/diagrams/data_access_component.puml
  dev/diagrams/deployment.mmd
  dev/diagrams/deployment.puml
  dev/diagrams/deprecated/@startuml.puml
  dev/diagrams/deprecated/component.puml
  dev/diagrams/deprecated/container.puml
  dev/diagrams/deprecated/overall.md
  dev/diagrams/deprecated/satchecker_component.png
  dev/diagrams/deprecated/satchecker_container.png
  dev/diagrams/deprecated/satchecker_system.png
  dev/diagrams/fov_sequence.mmd
  dev/diagrams/fov_sequence.puml
  dev/diagrams/propagation_class.mmd
  dev/diagrams/propagation_class.puml
  dev/diagrams/propagation_system_component.puml
  dev/diagrams/system_landscape.mmd
  dev/diagrams/system_landscape.puml
  docs/source/src.api.middleware.rst
  src/data/ephemeris_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

add Benchmark (pytest) benchmark result for b8c3361b05f0aa7c1b2fd1d467ae892291b3ad4f
  dev/bench/data.js
Due: none

Make it so that use_generated_tles only uses generated TLEs
  src/api/adapters/repositories/tle_repository.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

add Benchmark (pytest) benchmark result for ff77373240f8048227ad9d450425585ce93fb665
  dev/bench/data.js
Due: none

Fix typo in parameter name
  src/api/adapters/repositories/tle_repository.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

add Benchmark (pytest) benchmark result for 9343c677c8c186b438f8b64bb1a1fb83f148dc85
  dev/bench/data.js
Due: none

Increase max_nfev from 300 to 600
  src/data/ephemeris_utils.py
Due: Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

add Benchmark (pytest) benchmark result for 5bb4998d41768de58c664e9016ab7dcd831afb94
  dev/bench/data.js
Due: none

Path conditions:
  Dev API Test: any of: src/api/**/*
  Dev API Build: any of: src/api/**/*
  Dev API Push Tag: any of: src/api/**/*
  Prod API Test: any of: src/api/**/*
  Prod API Build: any of: src/api/**/*
  Prod API Push Tag: any of: src/api/**/*
  Dev Data Build: any of: src/data/**/*
  Dev Data Push Tag: any of: src/data/**/*
  Prod Data Build: any of: src/data/**/*
  Prod Data Push Tag: any of: src/data/**/*
  Dev DB Migrate: any of: src/api/migrations/**/*
