Repository iausathub/satchecker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag, Dev DB Migrate

Path conditions:
  Dev API Test: any of: src/api/**/*
  Dev API Build: any of: src/api/**/*
  Dev API Push Tag: any of: src/api/**/*
  Prod API Test: any of: src/api/**/*
  Prod API Build: any of: src/api/**/*
  Prod API Push Tag: any of: src/api/**/*
  Dev Data Build: any of: src/data/**/*
  Dev Data Push Tag: any of: src/data/**/*
  Prod Data Build: any of: src/data/**/*
  Prod Data Push Tag: any of: src/data/**/*
  Dev DB Migrate: any of: src/api/migrations/**/*

Initial add for codecov in workflow
  .github/workflows/code_coverage.yml
Due: none

Add initial codecov step
  .github/workflows/code_coverage.yml
Due: none

Allow code coverage workflow to run on workflow dispatch
  .github/workflows/code_coverage.yml
Due: none

add Benchmark (pytest) benchmark result for 601726330c3e9a28ff03f762555121459d147932
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for 7768f23328bf31434be013f7878427f73e4919e7
  dev/bench/data.js
Due: none

Add missing line to codecov step
  .github/workflows/code_coverage.yml
Due: none

add Benchmark (pytest) benchmark result for 13e370772ed71961d3cf77e4531209771ca9e577
  dev/bench/data.js
Due: none

Update README.md
  README.md
Due: none

add missing range_km data to satellite_passes endpoint
  src/api/changes/include_tles.feature.md
  src/api/changes/range.bugfix.md
  src/api/services/fov_service.py
  tests/unit/test_fov_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add type checking to linting part of github action, and make changes needed to address type errors
  .github/workflows/run_tests.yml
  pyproject.toml
  src/api/adapters/database_orm.py
  src/api/adapters/repositories/satellite_repository.py
  src/api/adapters/repositories/tle_repository.py
  src/api/common/exceptions.py
  src/api/common/position_data_point.py
  src/api/config.py
  src/api/domain/models/satellite.py
  src/api/entrypoints/extensions.py
  src/api/entrypoints/v1/routes/fov_routes.py
  src/api/entrypoints/v1/routes/tools_routes.py
  src/api/services/cache_service.py
  src/api/services/ephemeris_service.py
  src/api/services/fov_service.py
  src/api/services/tasks/ephemeris_tasks.py
  src/api/services/tools_service.py
  src/api/services/validation_service.py
  src/api/utils/coordinate_systems.py
  src/api/utils/output_utils.py
  src/api/utils/propagation_strategies.py
  src/api/utils/time_utils.py
  tests/unit/test_validation_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add update note for type checking
  src/api/changes/type.misc.md
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Upgrade mypy version
  src/api/requirements.txt
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

DB migration to add "generation" column
  src/api/migrations/versions/a23d969e948e_add_generation_column_to_satellite_table.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev DB Migrate

Add generation field to domain model, add script to run to get satellite generations (and store list in json)
  src/api/adapters/database_orm.py
  src/api/adapters/repositories/satellite_repository.py
  src/api/domain/models/satellite.py
  src/api/services/tools_service.py
  src/data/starlink_generations.json
  src/data/update_generations.py
  tests/conftest.py
  tests/unit/test_tools_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag, Dev Data Build, Dev Data Push Tag, Prod Data Build, Prod Data Push Tag

Fix health check to use a working URL
  src/api/entrypoints/v1/routes/routes.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Temporarily disable using the FOV result cache to test discrepancy in results
  src/api/services/fov_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Temporarily disable using the FOV result cache
  src/api/services/fov_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

add Benchmark (pytest) benchmark result for 9f1fe13d0e6b029409a0a71b7697e797b664405b
  dev/bench/data.js
Due: none

Update dashboard with latest quality check results [skip ci]
  dashboard/2025-04-25_17-27-49/complexity_report/index.html
  dashboard/2025-04-25_17-27-49/index.html
  dashboard/2025-04-25_17-27-49/load_testing/artillery-report.html
Due: none

Enable FOV result cache usage with additional logging, add connection pooling and retries to Redis connection, add parameter to skip using cache results to satellite-passes endpoint
  src/api/docker-compose.yml
  src/api/entrypoints/extensions.py
  src/api/entrypoints/v1/routes/fov_routes.py
  src/api/services/cache_service.py
  src/api/services/fov_service.py
  src/api/services/validation_service.py
  tests/unit/test_fov_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add types to cache memory check
  src/api/services/cache_service.py
  src/api/services/fov_service.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Move check for services available to a separate fixture; parametrize endpoint parameters and errors in tests
  pytest.ini
  tests/conftest.py
  tests/integration/test_fov_routes.py
  tests/integration/test_sat_repository.py
  tests/integration/test_tle_repository.py
  tests/integration/test_tools_routes.py
Due: none

Fix type error and rename count to total_position_results for consistency
  tests/unit/test_fov_service.py
Due: none

Fix type error
  src/api/services/fov_service.py
  src/api/utils/output_utils.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Add in interpolation/covariance code (temporarily as a separate propagation strategy pending a rename of that part)
  src/api/requirements.txt
  src/api/services/fov_service.py
  src/api/services/tasks/ephemeris_tasks.py
  src/api/utils/propagation_strategies.py
  tests/unit/test_utils.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Downgrade package to fix conflicts
  src/api/requirements.txt
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Remove unused package
  src/api/requirements.txt
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Fix type errors
  pyproject.toml
  src/api/services/fov_service.py
  src/api/utils/propagation_strategies.py
Due: Dev API Test, Dev API Build, Dev API Push Tag, Prod API Test, Prod API Build, Prod API Push Tag

Update load test URLS and accept 429 rate limit errors as ok
  tests/benchmark/test_benchmark.py
  tests/load_tests.yml
Due: none

Update load test URLs and accept 429 errors
  tests/load_tests.yml
Due: none

add Benchmark (pytest) benchmark result for 1a0995927720c22f5a6602d8dc1a6dd418e28583
  dev/bench/data.js
Due: none

Update loop syntax
  tests/load_tests.yml
Due: none

add Benchmark (pytest) benchmark result for a65cc133aa2f8cd758c979cba46c16541cbfcf7a
  dev/bench/data.js
Due: none

Increase timeout for load testing
  tests/load_tests.yml
Due: none

add Benchmark (pytest) benchmark result for 89ba741272c1d3b2264f94c8095cf75df8f3b8b6
  dev/bench/data.js
Due: none

Add full benchmarking tests
  tests/benchmark/test_ephemeris_benchmark.py
  tests/benchmark/test_fov_benchmark.py
  tests/benchmark/test_tools_benchmark.py
  tests/benchmark/test_util_benchmark.py
  tests/load_tests.yml
Due: none

add Benchmark (pytest) benchmark result for 19257a678859050a6f2f0b15ae0b8eae0dad9c5b
  dev/bench/data.js
Due: none
